<div id="customers" class="customers">
  <div class="container">
    <div class="quote fa fa-quote-left"></div>
    
    <div class="view active">
      <div class="review">I did not quite believe it at first, but after trying Miza for a couple of months, I was seeing a huge increase in payments from Carbon Ads. It’s pretty amazing — and so easy.</div>
      <div class="author">
        ~ <span>Alte Mo</span>,
        <a target="_blank" href="https://subtlepatterns.com/">Subtle Patterns</a>
      </div>
    </div>
    
    <div class="view">
      <div class="review">What Miza does is incredible! Even though that are some websites that abuse from the ads, the real publishers were struggling with the ad blockers. Finally, Miza brought the best and most reliable solution for the publishers, that don't need to bother anymore with their blocked ads and just focus on the content.</div>
      <div class="author">
        ~ <span>Silvio Moreto</span>,
        <a target="_blank" href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap Select</a>
      </div>
    </div>
    
    <div class="view">
      <div class="review">Before Miza I was leaving money on the table every month due to ad blockers. Now, Miza has helped me extract more revenue out of my site, and I am happy with the results!</div>
      <div class="author">
        ~ <span>David Miller</span>,
        <a target="_blank" href="http://startbootstrap.com/">Start Bootstrap</a>
      </div>
    </div>
    
    <div class="view">
      <div class="review">Finally someone is listening to the publishers, and offering a real solution to the ad blocking quandary.</div>
      <div class="author">
        ~ <span>James Foster</span>,
        <a target="_blank" href="http://sitesforprofit.com/">Sites For Profit</a>
      </div>
    </div>
    
    <div class="view">
      <div class="review">Miza helped us get back our publisher ad revenue that we were losing to Ad blockers earlier. I am happy that I do not need to worry about blockers anymore.</div>
      <div class="author">
        ~ <span>Yu Hongwei</span>, 
        <a target="_blank" href="http://reeoo.com/">Reeoo Web Design Inspiration</a>
      </div>
    </div>
    
    <div class="shortcuts">
      <div class="shortcut active"></div>
      <div class="shortcut"></div>
      <div class="shortcut"></div>
      <div class="shortcut"></div>
      <div class="shortcut"></div>
    </div>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Request a demo or read our deck.</span> 
  </div>
  <div class="right">
    <a href="#hero">Request Demo</a>
    <a class="inverse" target="_blank" href="/decks/supply">Read Deck</a>
  </div>
  <div class="clear"></div>
</div>