<div class="sidebar">
  <ul>
    <li class="sidebar-intro active">
      <a href="#intro">1.&nbsp;&nbsp;&nbsp;Introduction </a>
    </li>
    <li class="sidebar-auth">
      <a href="#auth">2.&nbsp;&nbsp;&nbsp;API Auth</a>
    </li>
    <li class="sidebar-request">
      <a href="#request">3.&nbsp;&nbsp;&nbsp;API Request</a>
    </li>
    <li class="sidebar-response">
      <a href="#response">4.&nbsp;&nbsp;&nbsp;API Response</a>
    </li>
    <li class="sidebar-formats">
      <a href="#formats">5.&nbsp;&nbsp;&nbsp;Ad Formats</a>
    </li>
  </ul>
</div>
<div class="display">
  <span>
    The goal of this guide is to ease the process of using <%= company %>'s API campaigns.
    Please note that the guide is a work in progress and subject to change. We will reach
    out if any changes are required on your end after the setup is complete. 
  </span>
</div>