<div class="company">
  <div class="container">
    <h3>How am I paid?</h3>
    <p>
      After creating an account, you will be able to visit your account dashboard.
      Once there, you will have a tab where you can enter in your PayPal email address.
    </p>
    <p>
      <img class="paypal" src="/imgs/paypal.png"/>
    </p>
  </div>
  <div class="container">
    <h3>How do you calculate payouts?</h3>
    <p>
      We work off of a revenue share model, where the publisher takes home
      a majority of the revenue generated from our advertisers. The math usually
      works out to a minimum cpm of $1 but actual payouts can vary from $2-5 
      depending on the industry, device and geo location traffic.
    </p>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Request a demo or read our deck.</span> 
  </div>
  <div class="right">
    <a href="/supply">Request Demo</a>
    <a class="inverse" target="_blank" href="/decks/supply">Read Deck</a>
  </div>
  <div class="clear"></div>
</div>