<div id="hero" class="hero enterprise dark-navigation">
  <% include ../../popup %>
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe src="<%= LIBS.models.Creative.example_frame("enterprise", 300, 400) %>" onload="this.style.display='block';"></iframe>
      <iframe src="<%= LIBS.models.Creative.example_frame("twitter_nike", 300, 400) %>" onload="this.style.display='block';"></iframe>
      <iframe src="<%= LIBS.models.Creative.example_frame("instagram", 300, 400) %>" onload="this.style.display='block';"></iframe>
    </div>

    <header class="header">
      <h1>Let's craft a story for your brand!</h1>
      <h2>
        Users love engaging with stories!
        We'll work directly with your team to create an
        experience tailored for your brand.
      </h2>
      <div class="actionable">
        <form class="form" method="POST" action="/demand/partnership">
          <% include ../../../includes/csrf %>
          <input class="top-long" name="name" type="text" placeholder="Full Name" required/>
          <input class="top-short" name="phone" type="tele" placeholder="Work Phone"/>
          <div class="clear"></div>
          <input class="last" name="email" type="email" placeholder="Work email" required/>
          <button class="button red">Reach Out <span class="fa fa-arrow-right"></span></button>
          <div class="clear"></div>
        </form
      </form>
    </header>
    <div class="clear"></div>
  </div>
</div>
