<% include ../../../includes/start %>
<div class="super-wrap">
  <% include ./hero %>
</div>

<div class="sticky-footer">
  <% include ../../../includes/footer %>
  <a href="https://mixpanel.com/f/partner" class="mixpanel" rel="nofollow">
    <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" />
  </a>
</div>
<% include ../../../includes/end %>