<% include ../includes/start %>
<% include ../includes/navigation %>

<div class="container <%= dashboard_width %> <%= dashboard %>-dashboard">
  <%- include("./" + dashboard + "/index.ejs") %>
  <div class="clear"></div>
</div>

<% include ../includes/footer %>
<% include ../includes/end %>