<% include ../includes/start %>

<% include ./navigation %>

<div class="main container">
  <%- include("./" + dashboard + "/index.ejs") %>
  <div class="clear"></div>
</div>

<% include ../includes/footer %>
<% include ../includes/end %>