<% if(!advertiser.owner.stripe_card) { %>
  <div class="warning orange">
    Thank you for using <%= company %>! Would you mind entering in your 
    <a href="/account/billing?next=<%= path %>">billing details</a>?<br>
    We will only charge your account once you have approved it! 
  </div>
<% } %>