<% if(advertiser && advertiser.is_activated && !advertiser.owner.stripe_card) { %>
  <div class="warning orange">
    Would you mind entering in your <a href="/account/billing?next=<%= path %>">billing details</a>?
    <br>
    We will ONLY bill you for what you have spent when your campaigns are completed.
  </div>
<% } %>