<div class="section">
  <div class="header">Creative</div>
  <p>
    <%= company %> supports the IAB <strong>300 x 250</strong> format. After 
    uploading your image, you will have the ability to crop and resize your image.
    Please note the description field is optional.
  </p>
  <br>
  <div class="left split half">
    <table>
      <tr>
        <td>
          <input name="creative[image_url]" class="simulator-image" type="hidden" role="uploadcare-uploader"
            data-crop="450x375 upscale" data-images-only="true" data-clearable required/>
        </td>
      </tr>
      <tr>
        <td>
          <input class="simulator-watch simulator-link input" type="url" name="creative[link]" placeholder="Click Link" required/>
        </td>
      </tr>
      <% if(user.is_admin) { %>
        <tr>
          <td>
            <div class="input input-extension">
              <div class="left">
                Ad-Free Browsing after Click
              </div>
              <div class="group right">
                <div class="fa fa-sort"></div>
                <select class="input" name="creative[disable_incentive]">
                  <option value="" selected>Disabled</option>
                  <option value="30">30 mins</option>
                  <option value="60">1 hour</option>
                  <option value="720">12 hours</option>
                  <option value="1440">1 day</option>
                  <option value="10080">1 week</option>
                  <option value="43200">1 month</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
  <div class="right split half">
    <div class="simulator">
      <a target="_blank" href="#">
        <img/>
      </a>
      <strong>Previewer</strong>
    </div>
  </div>
  <div class="clear"></div>
  <br><br>
  <textarea class="input" type="text" name="creative[trackers]" placeholder="Impression Tracking Links  (One per line)"></textarea>
</div>

<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url gdrive dropbox skydrive box";
  UPLOADCARE_PUBLIC_KEY = "39cde2ac83d04e6dbd0a";
  UPLOADCARE_LOCALE = 'en';
  UPLOADCARE_LOCALE_TRANSLATIONS = {
    buttons: {
      cancel: "uploading image...",
      remove: "Remove Image",
      choose: {
        images: {
          one: 'Select Image',
        }
      }
    }
  };
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>