<div class="section">
  <div class="split half left quote-box">
    <div class="quote">$0.00</div>
    <div class="information">TOTAL BUDGET</div>
  </div>
  <div class="split half right">
    <button type="submit" class="button">
      Create Campaign <span class="fa fa-arrow-right"></span>
    </button>
    <div class="error"></div>
  </div>
  <div class="clear"></div>
</div>