<div class="display full builder scrape-done">
  <% include ./form_start %>  
  <div class="section">
    <div class="header">Creative</div>
    
    <div class="creative-display">
      <div class="left paragraphs">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line half"></div>
        <br>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line third"></div>
        <br>
        <div class="line three-fourths"></div>
      </div>
      <div class="right creative">
        <div><iframe class="simulator-iframe hidden" data-base-src="<%= LIBS.models.Creative.demo_frame() %>"></iframe></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <div class="section">
    <div class="header">Campaign</div>
    <table class="top-table shifted">
      <tr>
        <td class="title">Name<span>REQUIRED</span></td>
        <td>
          <input class="full-input" type="text" name="name" placeholder="New Branding Initiative" required/>
        </td>
      </tr>
      <tr>
        <td class="title">Start Date<span>OPTIONAL</span></td>
        <td>
          <div class="group left-align date-input">
            <div class="fa fa-calendar"></div>
            <input class="range-display" type="text" name="start_date" autocomplete="off" placeholder="MM-DD-YYYY" data-start-date="<%= moment().add(1, "day").format('MM-DD-YYYY') %>"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">End Date<span>OPTIONAL</span></td>
        <td>
          <div class="group left-align date-input last">
            <div class="fa fa-calendar"></div>
            <input class="range-display" type="text" name="end_date" autocomplete="off" placeholder="MM-DD-YYYY" data-start-date="<%= moment().add(2, "day").format('MM-DD-YYYY') %>"/>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="section">
    <div class="header">Budget</div>
    <table class="top-table shifted">
      <tr>
        <td class="title">Budget<span>REQUIRED</span></td>
        <td>
          <div class="group left-align budget-input last">
            <div class="fa fa-dollar"></div>
            <input class="number" type="text" name="budget" placeholder="25" required/>
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" class="title">Bid Amount<span>REQUIRED</span></td>
        <td class="bid-selector">
          <div>
            <input class="left" type="radio" name="bid_type" value="automatic" checked="checked" id="bid_automatic">
            <label class="right" style="width: 435px" for="bid_automatic">
              <strong>Automatic</strong> - Let <%= company %> set the bid that helps you get the most link clicks at the best price.
            </label>
            <div class="clear"></div>
          </div><br>
          <div>
            <input class="left" type="radio" name="bid_type" value="manual" id="bid_manual">
            <label class="right" style="width: 435px" for="bid_manual">
              <strong>Manual</strong> - Enter a bid based on what link clicks are worth to you.
              <div class="group left-align bid-input hidden" style="margin-top: 15px">
                <div class="fa fa-dollar"></div>
                <input type="number" name="bid" placeholder="1.50" step="0.01" min="0.02" value="0.90" required/>
              </div>
              <div class="bid-input hidden" style="margin-top: 10px; font-weight: bold; color: rgba(0,0,0,0.3)">Recommended bid between $0.50 - $1.50</div>
            </label>
            <div class="clear"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <% include ./finish_standard %>
  
  <input type="hidden" name="model" value="cpc"/> 
  <input type="hidden" class="creative-link" name="creative[link]" required/>
  <input type="hidden" class="creative-config" name="creative[config]" value="{}"/>
  <input type="hidden" class="creative-format" name="creative[format]" value="social" required/>
  <input type="hidden" name="creative[trackers]" value=""/>
  <input type="hidden" name="creative[image_url]" value=""/>
  <input type="hidden" name="creative[disable_incentive]" value=""/>
  
  <% include ./form_end %>
</div>