<div class="hero monetize">
  <div class="container">
    <% include ../header %>
    <div class="brief">
      <h2>Simple, monthly payouts.</h2>
    </div>
    <div class="modal">
      <div class="payout">Premium CPM</div>
      <div class="subpayout">for ad block users</div>
      <div class="bennefits">
        <div class="bennefit">
          <span class="fa fa-star"></span>
          <div>No setup or hidden fees</div>
        </div>
        <div class="bennefit">
          <span class="fa fa-arrow-up"></span>
          <div>Earn based on impressions</div>
        </div>
        <div class="bennefit">
          <span class="fa fa-signal"></span>
          <div>Real-time reporting tools</div>
        </div>
        <div class="bennefit">
          <span class="fa fa-bank"></span>
          <div>PayPal Payouts</div>
        </div>
      </div>
      <a href="/register">
        Create Account <span class="fa fa-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="bg-footer"></div>
</div>