<div class="company">
  <div class="container">
    <h3>How am I paid?</h3>
    <p>
      After creating an account, you will be able to visit your account dashboard.
      Once there, you will have a tab where you can enter payout information. The
      payout information needed is a <u>debit card</u> that connects to a bank account
      where funds can be deposited into.
    </p>
    <p>
      Each month you will receive a payout by the 20th.
    </p>
  </div>
  <div class="container">
    <h3>Isn't <%= company %> Protect a paid service?</h3>
    <p>
      Yes, <%= company %> Protect is a paid service that is being deprecated over the coming year. The Protect product
      works on a model where users are charged for the impressions protected for their existing ad network. We encourage
      all new users to choose the Network product where users are paid monthly based on impressions. 
    </p>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Get in touch or create an account.</span> 
  </div>
  <div class="right">
    <a href="/register">Create Account</a>
    <a class="inverse" href="/">Request Demo</a>
  </div>
  <div class="clear"></div>
</div>