<footer>
  <ul>
    <% if(!user) { %>
      <li><a href="/">Home</a></li>
    <% } %>
    <li><a target="_blank" href="/legal/privacy">Privacy Policy</a></li>
    <li><a target="_blank" href="/legal/terms">Terms of Service</a></li>
    <% if(!user) { %>
      <li><a target="_blank" href="/optout">Opt Out</a></li>
    <% } %>
    <li><a href="mailto:<%= support_email %>">Email Us</a></li>
  </ul>
</footer>
