<div class="fixed-side-nav">
  <% if(user && user.is_admin) { %>
    <a class="inverse" href="/admin">Admin Center</a>
  <% } else { %>
    <a href="#" class="inverse" onclick="Intercom('showNewMessage')">Contact Us</a>
  <% } %>
  <% if(user) { %>
    <a href="/dashboard">Dashboard</a>
    <span>
      <a class="main" href="/account">Account</a>
      <a class="dropdown-item red" href="/logout">Sign Out</a>
    </span>
  <% } else { %>
    <a href="/login">Sign In</a>
  <% } %>
</div>