<div class="fixed-side-nav">
  <% if(user && user.is_admin) { %>
    <a class="inverse" href="/admin">Admin Center</a>
  <% } %>
  <% if(user && !user.is_demo) { %>
    <a href="/dashboard">Dashboard</a>
    <span>
      <a class="main" href="/account">Account</a>
      <a class="dropdown-item red" href="/logout">Sign Out</a>
    </span>
  <% } else { %>
    <a href="/login" class="inverse">Log In</a>
    <a href="/register">Sign Up</a>
  <% } %>
</div>