<% if(changelog) { %>
  <h1 class="logo"><%= company %></h1>
  <script>
    var HW_config = {
      selector: "h1.logo",
      account: "<%= changelog_key %>"
    };
  </script>
  <script async src="//cdn.headwayapp.co/widget.js"></script>
<% } else { %>
  <h1 class="logo"><%= company %><sup>Beta</sup></h1>
<% } %>