<div id="customers" class="customers">
  <div class="container">
    <div class="quote fa fa-quote-left"></div>
    
    <div class="view active">
      <div class="review">When I looked at my websites analytics I knew I was leaving money on the table due to ad blockers, but I assumed there was nothing I could do. Miza has helped me extract more revenue out of my website, just by dropping a few lines of code into my site. I'm seeing a considerable increase in paid impressions and clicks through my ad network, and I am happy with the results. The support team is also great, they've been prompt, informative, and are great to work with. Thanks guys!</div>
      <div class="author">
        ~ <span>David Miller</span>,
        <a target="_blank" href="http://startbootstrap.com/">Start Bootstrap</a>
      </div>
    </div>
    
  </div>
</div>
<div class="request_demo">
  <span>Recapture lost ad revenue.</span> <a href="#hero">Request Demo</a>
</div>