<div id="customers" class="customers">
  <div class="container">
    <div class="quote fa fa-quote-left"></div>
    <div class="view active">
      <div class="review">Miza is amazing and has recovered us over a couple hundred thousand dollars.</div>
      <div class="author">
        ~ <span>Alte Mo</span>,
        <a target="_blank" href="http://subtlepatterns.com">Subtle Patterns</a>
      </div>
    </div>
    <div class="view">
      <div class="review">asdfasdf</div>
      <div class="author">
        ~ <span>Brian</span>,
        <a target="_blank" href="http://subtlepatterns.com">Subtle Patterns</a>
      </div>
    </div>
    <div class="view">
      <div class="review">asdfasdfasdf</div>
      <div class="author">
        ~ <span>Bob</span>,
        <a target="_blank" href="http://subtlepatterns.com">Subtle Patterns</a>
      </div>
    </div>
  </div>
</div>
<div class="request_demo">
  <span>Recapture lost ad revenue.</span> <a href="#hero">Request Demo</a>
</div>