<div id="customers" class="customers">
  <div class="container">
    <div class="quote fa fa-quote-left"></div>
    
    <div class="view active">
      <div class="review">Before Miza I was leaving money on the table every month due to ad blockers. Now, Miza has helped me extract more revenue out of my site, and I am happy with the results!</div>
      <div class="author">
        ~ <span>David Miller</span>,
        <a target="_blank" href="http://startbootstrap.com/">Start Bootstrap</a>
      </div>
    </div>
    
    <div class="view">
      <div class="review">Finally someone is listening to the publishers, and offering a real solution to the ad blocking quandary.</div>
      <div class="author">
        ~ <span>James Foster</span>,
        <a target="_blank" href="http://sitesforprofit.com/">Sites For Profit</a>
      </div>
    </div>
    
    <div class="shortcuts">
      <div class="shortcut active" data-></div>
      <div class="shortcut"></div>
    </div>
  </div>
</div>
<div class="request_demo">
  <span>Recapture lost ad revenue.</span> <a href="#hero">Request Demo</a>
</div>