<div id="features" class="supports">
  <h2>
    <%= company %> works seamlessly with the ad<br>
    networks you are already using!
  </h2>
  <img src="/imgs/networks/ad_sense.png"/>
  <img src="/imgs/networks/dfp.png"/>
  <img src="/imgs/networks/roll.png"/>
  <img src="/imgs/networks/rail.png"/>
  <img src="/imgs/networks/carbon.png"/>
</div>
<div class="features">
  <div class="section">
    <div class="container">
      <div class="information left">
        <h3>Simple setup, beautiful ads!</h3>
        <ul>
          <li>
            <strong>Install in minutes. Copy and paste!</strong>
            <div>
              No need to rewrite your entire advertising code base.
              Just paste in our script and deploy.
            </div>
          </li>
          <li>
            <strong>Realtime Analytics.</strong>
            <div>
              View at-a-glance how <%= company %> is helping your
              company. Ad events are streamed right to the dashboard.
            </div>
          </li>
          <li>
            <strong>Let us fight the good fight for you.</strong>
            <div>
              Ensuring your ads are delivered is a tick tac toe game
              with Ad Blockers. You need a team and 
              technology that will be there to out think their moves. 
              We will fight those battles so you can focus on 
              what matters most. 
            </div>
          </li>
        </ul>
      </div>
      <div class="display right">
        <img src="/imgs/dashboard.jpg"/>
      </div>
    </div>
  </div>
</div>
