<% include ../../includes/start %>
<% include ./hero %>
<% include ./features %>
<% include ./products %>
<% include ./customers %>

<% include ../../includes/footer %>
<a href="https://mixpanel.com/f/partner" class="mixpanel" rel="nofollow">
  <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" />
</a>
<% include ../../includes/end %>