<div id="products" class="products">
  <h3>Meet Our Products</h3>
  <h4>(select for information)</h4>
  <div class="product active" data-product="network">
    <div class="fa fa-globe"></div>
    <div class="name">NETWORK</div>
    <div class="desc">
      Inventory from the <%= company %> Network<br>when an Ad Blocker exists.
    </div>
    <div class="pricing">
      Payouts from <%= company %>
    </div>
  </div>
  <div class="product" data-product="protect">
    <div class="fa fa-shield"></div>
    <div class="name">PROTECT</div>
    <div class="desc">
      Protects your existing ad<br>network from Ad Blockers.
    </div>
    <div class="pricing">
      Charged on Protected CPM
    </div>
  </div>
  <div id="information" class="information">
    <div class="background"></div>
<!--     <div class="close fa fa-close"></div> -->
    <div class="container">
      <div class="section network active">
        <ul>
          <li>
            <strong>Premium CPM Payouts</strong>
            <div>
              Ad block users are unreachable
              for most advertising networks, making them 
              a premium audience to target.
            </div>
          </li>
          <li>
            <strong>Beautiful Unobtrusive Ads</strong>
            <div>
              Ad block users are more sensitive to advertisements, compared to normal audience.
              Our ads never compromise the user experience, creating a win-win situation for the visitors and publisher.
            </div>
          </li>
          <li>
            <strong>Simple Integration</strong>
            <div>
              No fancy setup or server-side includes. 
              Single line of javascript code which can be activated in less than 5 minutes.
            </div>
          </li>
        </ul>
        <div class="graphic" style="background-image: url('/imgs/products/network.png')"></div>
      </div>
      
      <div class="section protect">
        <ul>
          <li>
            <strong>Protect Your Exisiting Network</strong>
            <div>
              No need to reconfigure a new advertising network. 
              Think of <%= company %> Protect as your networks private security team.
            </div>
          </li>
          <li>
            <strong>Straight Forward Billing</strong>
            <div>
              We only bill you for the impressions protected from ad blockers. We never
              charge more than you have saved and provide a 30
              day full refund if you are unsatisfied with our results.
            </div>
          </li>
          <li>
            <strong>Simple Integration</strong>
            <div>
              No fancy setup or server-side includes. 
              Single line of javascript code which can be activated in less than 5 minutes.
            </div>
          </li>
        </ul>
        <div class="graphic" style="background-image: url('/imgs/products/protect.png')"></div>
      </div>
      
    </div>
  </div>
</div>