<div id="products" class="products">
  <h3>Meet Our Products</h3>
  <h4>(select for information)</h4>
  <div class="product" data-product="network">
    <div class="fa fa-globe"></div>
    <div class="name">NETWORK</div>
    <div class="desc">
      Inventory from the <%= company %> Network<br>when an Ad Blocker exists.
    </div>
    <div class="pricing">
      Payouts from <%= company %>
    </div>
  </div>
  <div class="product" data-product="protect">
    <div class="fa fa-shield"></div>
    <div class="name">PROTECT</div>
    <div class="desc">
      Protects your existing ad<br>network from Ad Blockers.
    </div>
    <div class="pricing">
      Charged on Protected CPM
    </div>
  </div>
  <div class="information">
    <div class="background"></div>
    <div class="close fa fa-close"></div>
    <div class="section network">
      
    </div>
  </div>
</div>