<div class="supports">
  <h2>
    Our clients love how great <%= company %> works with<br>
    the ad networks they are already using!
  </h2>
  <img src="/imgs/networks/ad_sense.png"/>
  <img src="/imgs/networks/dfp.png"/>
  <img src="/imgs/networks/roll.png"/>
  <img src="/imgs/networks/rail.png"/>
  <img src="/imgs/networks/carbon.png"/>
</div>