@import '../libs/all';
@import '../global/colors';

.container.campaign-dashboard .display {
  margin-bottom: 15px;
  
  &.table {
    min-height: 350px;
  }
  
  .top-bar .section {
    font-size: 1.2em;
    padding: 20px;
    
    .title {
      color: black;
      
      &.cap {
        text-transform: capitalize;
      }
      
      &.blue {
        color: @blue;
      }
      
      &.green {
        color: @green;
      }
    }
    
    .decription {
      color: @text_weak;
      margin-bottom: 5px;
    }
  }
  
}