@import '../libs/all';
@import '../global/colors';

.container.campaigns-builder-dashboard .display {
  
  .section {
    .name_campaign {
      width: 350px;
      margin-right: 50px;
    }
    
    .range-display {
      width: 250px;
    }
    
    .impressions_table {  
      .title {
        width: 25%;
      }
          
      .metric {
        width: 18%;
        color: @green;
        font-family: "Ubuntu";
        font-size: 1.3em;
        
        span {
          color: @text_weak;
        }
      }
      
      .impressions {
        width: 200px;
        
        .group {
          width: 180px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    
    .impressions_empty {
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: @text_weak;
      font-family: "Ubuntu";
      font-size: 2em;
      padding: 20px 0;
    }
  }
  
}