@import '../libs/all';
@import '../global/colors';

.warning {
  width: 100%;
  padding: 10px 12px;
  text-align: center;
  margin: 30px 0;
  background: #FEF5F5;
  color: #A94442;
  font-size: 1.1em;
  border: solid 1px rgba(0,0,0,0.1);
  font-weight: bold;
  .border-radius(4px);
  
  &.orange {
    background: lighten(@orange, 40%);
    color: darken(@orange, 20%);
    border: solid 1px lighten(@orange, 33%);
  }
  
  a {
    color: @blue;
    
    &:hover {
      text-decoration: underline;
    }
  }
}


.company_list {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 150px;
  border: solid 1px darken(#F1F5F9, 5%);
  background: white;
  z-index: 2;
  border: solid 1px rgba(0,0,0,0.11);
  overflow: hidden;
  .border-radius(4px);
  .box-shadow(0 3px 6px 1px rgba(0,0,0,0.03));
  
  .fa {
    color: rgba(0,0,0,0.2);
  }
  
  .current {
    position: relative;
    padding: 8px 30px 8px 12px;
    color: @blue;
    font-weight: bold;
    font-size: 1.1em;
    .ellipsis();
    
    span {
      position: absolute;
      top: 11px; 
      right: 11px;
      color: rgba(0,0,0,0.1);
    }
  }
  
  &:hover {     
    .companies {
      display: block;
    }
  }
  
  .companies {
    border-top: solid 2px rgba(0,0,0,0.05);
    display: none;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    a {
      padding: 10px 12px;
      display: block;
      font-weight: lighter;
      border-top: solid 1px #F3F3F3;
      .ellipsis();
      
      &:hover {
        background: lighten(@blue, 40%);
      }
      
      &:first-child {
        border-top: none;
      }
      
      span {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
    
    .group {
      position: relative;
      border-top: solid 1px #F3F3F3;
      
      span {
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 0.8em;
      }
      
      input {
        border-top: solid 1px rgba(0,0,0,0.5);
        background: rgba(0,0,0,0.025);
        border: none;
        padding: 10px 12px 10px 30px;
        font-size: 1em;
        .box-shadow(none);
        .border-radius(0);
      }
    }
  }
}

.container {
  position: relative;
  width: 720px;
  margin: 40px auto 0;
  
  &.small {
    width: 620px;
    
    .display {
      width: 450px;
    }
  }
  
  &.medium {
    width: 820px;
    
    .display {
      width: 650px;
    }
  }
  
  &.large {
    width: 920px;
    
    .display {
      width: 750px;
    }
  }
  
  .dashboard-back {
    position: absolute;
    left: -80px;
    top: 40px;
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,0.1);
    padding: 9px;
    text-align: center;
    color: #F1F5F9;
    font-size: 1.9em;
    .border-radius(50%);
    
    &:hover {
      background: @blue;
    }
  }
  
  .sidebar {
    width: 150px;
    position: relative;
    float: left;
    
    ul {
      font-size: 1.3em;
      color: #424770;
      
      li {
        margin: 20px 0;
        opacity: 0.75;
        
        &:hover {
          opacity: 1;
        }
        
        &.active {
          color: #6772e5;
          font-weight: bold;
          opacity: 1;
        }
        
        .fa {
          font-size: 0.9em;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }
  
  .display {
    position: relative;
    width: 550px;
    background: white;
    float: right;
    overflow: hidden;
    border: solid 1px rgba(0,0,0,0.11);
    .border-radius(6px);
    .box-shadow(0 3px 6px 1px rgba(0,0,0,0.03));
    
    &.full {
      width: 100%;
    }
    
    &.split, .split {
      &.half {
        width: 50%;
      }
      
      &.third {
        width: 33.33%;
      }
      
      &.fourth {
        width: 25%;
      }
      
      &.fifteenth {
        width: 15%;
      }
      
      &.three-fourths {
        width: 75%;
      }
      
      &.two-thirds {
        width: 66.66%;
      }
      
      &.fourty {
        width: 40%;
      }
      
      &.fifth {
        width: 20%;
      }
      
      &.sixity {
        width: 60%;
      }
    
      &.eighteenth {
        width: 18%;
      }
    }
    
    .tooltip.info {
      color: @text_weak;
      cursor: pointer;
      margin-left: 5px;
      display: none;
      
      &:hover {
        color: black;
      }
    }
    
    .mini-table {
      table {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        
        td, th {
          padding: 18px 5px;
          margin: 0;
        }
        
        thead th span {
          background: #AFBACD;
          padding: 3px 12px;
          color: white;
          min-width: 150px;
          .border-radius(3px);
        } 
        
        tbody tr {  
          &:first-child td {
            border-top: solid 1px rgba(0,0,0,0.05);
            
            &:first-child {
              .border-radius(3px 0 0 0);
            }
            
            &:last-child {
              .border-radius(0 3px 0 0);
            }
          }
          
          &:last-child td {          
            &:first-child {
              .border-radius(0 0 0 3px);
            }
            
            &:last-child {
              .border-radius(0 0 3px 0);
            }
          }
          
          &:only-child td {
            &:first-child {
              .border-radius(3px 0 0 3px);
            }
            
            &:last-child {
              .border-radius(0 3px 3px 0);
            }
          }
                    
          td {
            padding: 14px 20px;
            border-left: solid 1px rgba(0,0,0,0.05);
            border-bottom: solid 1px rgba(0,0,0,0.05);
            font-weight: bold;
            background: rgba(0, 0, 0, 0.01);
            
            &:last-child {
              border-right: solid 1px rgba(0,0,0,0.05);
            }
          }
        }
      }
    }
    
    .top-bar {
      width: 100%;
      
      .section {
        font-size: 1.2em;
        padding: 20px;
        
        .title {
          color: black;
          
          &.cap {
            text-transform: capitalize;
          }
          
          &.blue {
            color: @blue;
          }
          
          &.green {
            color: @green;
          }
        }
        
        .decription {
          color: @text_weak;
          margin-bottom: 5px;
        }
        
        .actions .action {
          margin: 8px 5px 0 0;
        }
      }
    }
    
    .actions {  
      &.disabled {
        opacity: 0.5;
        
        .action {
          cursor: no-drop;
        }
      }
      
      &:not(.disabled) .action:hover {
        color: @blue;
        border-color: @blue;
      }
          
      .action {
        cursor: pointer;
        padding: 8px 10px;
        background: white;
        display: inline-block;
        border: solid 1px rgba(0,0,0,0.1);
        border-bottom-width: 2px;
        margin-right: 6px;
        color: rgba(0,0,0,0.5);
        .border-radius(4px);
        .box-shadow(0 3px 6px 1px rgba(0,0,0,0.03));
        
        span {
          margin-right: 5px;
        }
      }
    }
    
    form {    
      padding: 20px;
      width: 100%;
      
      input:disabled {
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        .box-shadow(none);
      }
      
      button {
        margin-top: 15px;
      }
      
      table {
        width: 100%;
        
        td {
          padding: 10px 0;
          
          &.title {
            width: 30%;
            font-size: 1.2em;
          }
        } 
      }
      
      .error {
        margin-top: 10px;
        color: @red;
        font-size: 1.2em;
        font-weight: lighter;
        text-align: center;
        display: none;
      }
      
      .group {
        position: relative;
        
        &.left-align {          
          .fa, a {
            left: 15px;
            right: initial;
          }
          
          input {
            padding-left: 35px;
          }
        }
        
        .fa, a {
          position: absolute;
          font-size: 1.2em;
          top: 18px;
          right: 15px;
          color: rgba(0,0,0,0.1);
          z-index: 1;
        }
        
        a {
          font-size: 1em;
          font-weight: bold;
          color: @blue;
          text-transform: uppercase;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}