@import '../compless/all';
@import '../global/colors';

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 65px 0;
  .clearfix();
}

.warning {
  width: 100%;
  padding: 10px 12px;
  text-align: center;
  margin: 30px 0;
  background: #FEF5F5;
  color: #A94442;
  font-size: 1.1em;
  border: solid 1px rgba(0,0,0,0.1);
  font-weight: bold;
  .border-radius(4px);
  
  &.grey {
    background: lighten(@blue, 41%);
    color: @text;
    border: solid 1px lighten(@blue, 36%);
  }
  
  a {
    color: @blue;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.publishers_list {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  border: solid 2px rgba(0,0,0,0.05);
  background: white;
  z-index: 2;
  .border-radius(3px);
  
  .fa {
    color: rgba(0,0,0,0.2);
  }
  
  .current {
    position: relative;
    padding: 8px 30px 8px 12px;
    color: @blue;
    font-weight: bold;
    font-size: 1.1em;
    .ellipsis();
    
    span {
      position: absolute;
      top: 11px; 
      right: 11px;
      color: rgba(0,0,0,0.1);
    }
  }
  
  &:hover {
    .box-shadow(30px 30px 20px white);
     
    .publishers {
      display: block;
    }
  }
  
  .publishers {
    border-top: solid 2px rgba(0,0,0,0.05);
    display: none;
    
    a {
      padding: 10px 12px;
      display: block;
      font-weight: lighter;
      border-bottom: solid 1px #F3F3F3;
      .ellipsis();
      
      &:hover {
        background: lighten(@blue, 40%);
      }
      
      span {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
    
    form {
      position: relative;
      
      span {
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 0.8em;
      }
      
      input {
        border-top: solid 1px rgba(0,0,0,0.5);
        background: rgba(0,0,0,0.025);
        border: none;
        padding: 10px 12px 10px 30px;
        font-size: 1em;
        .box-shadow(none);
        .border-radius(0);
      }
    }
  }
}

.sidebar {
  width: 180px;
  
  ul {
    margin: 35px 0;
    font-size: 1.3em;
    color: @blue;
    
    li {
      margin: 15px 0;
      opacity: 0.75;
      
      &:hover {
        opacity: 1;
      }
      
      &.active {
        color: darken(@blue, 20%);
        font-weight: bold;
        opacity: 1;
        
        .fa {
          color: darken(@blue, 20%);
        }
      }
      
      .fa {
        font-size: 0.9em;
        margin-right: 4px;
        width: 18px;
        color: lighten(@blue, 30%);
      }
    }
  }
}

.display {
  width: 780px;
  
  h2 {
    font-size: 2em;
    margin: 0 0 35px 0;
  }
  
  h3 {
    margin: 60px 0 0 0;
  }
  
  & > span, p {
    font-size: 1.1em;
    line-height: 1.8em;
  }
  
  p {
    margin: 15px 0; 
    display: inline-block; 
    
    span {
      color: #D0456F;
      padding: 1px 5px;
      margin: 0 3px;
      font-size: 0.85em;
      border: solid 1px rgba(0,0,0,0.05); 
      background: rgba(0,0,0,0.02);
      .border-radius(3px);
    }
  }
  
  pre code {
    font-size: 1em;
    padding: 20px;
    border: solid 1px rgba(0,0,0,0.05); 
    background: rgba(0,0,0,0.01);
    .border-radius(4px);
  }
  
  .guide {
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  a {
    color: @blue;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  .dns {
    table {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      
      td, th {
        padding: 18px 5px;
        margin: 0;
      }
      
      thead th span {
        background: #AFBACD;
        padding: 3px 12px;
        color: white;
        min-width: 150px;
        .border-radius(3px);
      } 
      
      tbody tr {  
        &:first-child td {
          border-top: solid 1px rgba(0,0,0,0.05);
          
          &:first-child {
            .border-radius(3px 0 0 0);
          }
          
          &:last-child {
            .border-radius(0 3px 0 0);
          }
        }
        
        &:last-child td {          
          &:first-child {
            .border-radius(0 0 0 3px);
          }
          
          &:last-child {
            .border-radius(0 0 3px 0);
          }
        }
        
        &:only-child td {
          &:first-child {
            .border-radius(3px 0 0 3px);
          }
          
          &:last-child {
            .border-radius(0 3px 3px 0);
          }
        }
                  
        td {
          padding: 14px 20px;
          border-left: solid 1px rgba(0,0,0,0.05);
          border-bottom: solid 1px rgba(0,0,0,0.05);
          font-weight: bold;
          background: rgba(0, 0, 0, 0.01);
          
          &:last-child {
            border-right: solid 1px rgba(0,0,0,0.05);
          }
        }
      }
    }
  }

  &.settings-dashboard {
    form {
      width: 70%;
      
      table {
        width: 100%;
        margin-bottom: 20px;
    
        td {
          padding: 10px 0;
          
          &.title {
            width: 30%;
            font-size: 1.2em;
          }
          
          input:disabled {
            background: transparent;
            border-color: transparent;
            padding-left: 0;
            .box-shadow(none);
          }
          
          &.slider {
            padding: 20px 0 10px;
          }
          
          .slider-range {
            width: 80%;
            float: left;
            border: none;
            background: @blue;
            .box-shadow(none);
            
            .noUi-handle {
              cursor: pointer;
              .box-shadow(none);
              
              &:hover {
                background: #f9f9f9;
              }
            }
            
            .noUi-origin {
              border: solid 1px rgba(0,0,0,0.1);
              .box-shadow(none);
            }
          }
          
          .slider-display {
            width: 15%;
            float: right;
            background: none;
            padding: 0;
            text-align: right;
            font-size: 1.2em;
            color: @blue;
            margin-top: -3px;
          }
        }
      }
    }
    
    .error {
      margin-top: 10px;
      color: #C50000;
      font-size: 1.2em;
      font-weight: lighter;
      text-align: center;
    }
  }
  
  &.setup-dashboard {
    .networks {
      margin: 10px -10px -10px -10px;
      .clearfix();
      
      .network {
        position: relative;
        cursor: pointer;
        width: 180px;
        padding: 15px 20px;
        margin: 10px;
        text-align: center;
        background: #FDFDFD;
        border: solid 2px rgba(0,0,0,0.05);
        display: inline-block;
        .border-radius(4px);
        
        &:not(.disabled):hover, &.active {
          border-color: @blue;
        }
        
        &.disabled {
          opacity: 0.5;
          cursor: default;
        }
        
        .soon {
          position: absolute;
          left: 0;
          right: 0;
          top: 100px;
          font-size: 1em;
        }
        
        .image {
          height: 120px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        
        .name {
          margin-top: 20px;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
}