<div class="sidebar">
 <ul>
    <li class="<%= isActive(subdashboard, "analytics") + isActive(subdashboard, null) %>">
      <a href="<%= dashboard_path %>/dashboard/analytics">
        <span class="fa fa-pie-chart"></span>
        Analytics
      </a>
    </li>
    <li class="<%= isActive(subdashboard, "payments") %>">
      <a href="<%= dashboard_path %>/dashboard/payments">
        <span class="fa fa-credit-card-alt"></span>
        Payments
      </a>
    </li>
  </ul>
</div>
<div class="display">
  
</div>