<% include ../includes/start %>
<% include ../includes/header %>
<div class="demo">
  <div class="label">Try turning Ad Blocker On & Off</div>
  <div class="container left">
  	<div class="label">Carbon (With Miza)</div>
  	<iframe src="/demo/<%= product %>/miza_carbon"></iframe>
  </div>
  <div class="container right">
  	<div class="label">Carbon</div>
  	<iframe src="/demo/<%= product %>/carbon"></iframe>
  </div>
</div>
<% include ../includes/end %>