<% include ../includes/start %>
<% include ../includes/header %>
<div class="demo">
  <div class="label">Try turning Ad Blocker On & Off</div>
  <div class="container left">
  	<div class="label">Miza Enabled</div>
  	<iframe src="/demo/<%= product %>/miza"></iframe>
  </div>
  <div class="container right">
  	<div class="label">Regular Ad</div>
  	<iframe src="/demo/<%= product %>/regular"></iframe>
  </div>
</div>
<% include ../includes/end %>