<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <% include ../includes/logo %>
  <div class="list">
    <a href="/dashboard">
      <div class="fa fa-tachometer"></div>
      <div class="name">Dashboard</div>
    </a>
    <a href="/demo/miza">
      <div class="fa fa-eye"></div>
      <div class="name">Quick Demo</div>
    </a>
<!--
    <a href="/demo/wordpress">
      <div class="fa fa-wordpress"></div>
      <div class="name">Wordpress</div>
    </a>
-->
  </div>
</div>
<% include ../includes/end %>