<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <% include ../includes/logo %>
  <div class="list">
    <a href="/dashboard">
      <div class="fa fa-tachometer"></div>
      <div class="name">Dashboard</div>
    </a>
    <a href="/demo/protect">
      <div class="fa fa-shield"></div>
      <div class="name">Protect Demo</div>
    </a>
    <a href="/demo/network">
      <div class="fa fa-globe"></div>
      <div class="name">Network Demo</div>
    </a>
  </div>
</div>
<% include ../includes/end %>