<html>
	<head>
  	<title>Miza Tester</title>	
  	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  	<style>
    	.ad {
      	margin: 30px auto;
        display: table;
    	}
    	
    	a {
      	text-decoration: none;
    	}
    	
    	a:hover {
      	text-decoration: underline;
    	}
  	</style>
		<%- include("../samples/protect/" + demo + "/head") %>
	</head>
	<body>
  	<div class="ad">
     <%- include("../samples/protect/" + demo + "/body") %>
  	</div>
	</body>
</html>