<html>
	<head>
  	<title>Miza Tester</title>	
  	<style>
    	.ad {
      	margin: 30px auto;
        display: table;
    	}
  	</style>
  	
		<%- include("../samples/" + demo + "/script") %>
		
	</head>
	<body>
  	<div class="ad">
     <%- include("../samples/" + demo + "/element") %>
  	</div>
	</body>
</html>