<div>
  <h3>Insert <%= company %> Script</h3>
  <p>
    Paste the script before any other ad network scripts 
    into the <span>body</span> element.
  </p>
  <pre><code><%= include("../../../samples/network/miza/head") %></code></pre>
</div>
