<div id="hero" class="hero social dark-navigation">
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe src="<%= LIBS.models.Creative.example_frame("instagram") %>" onload="this.style.display='block';"></iframe>
      <iframe src="<%= LIBS.models.Creative.example_frame("twitter_odesza") %>" onload="this.style.display='block';"></iframe>
    </div>
    
    <header class="header">
      <h1>Reach new highly engaged followers!</h1>
      <h2>
        Grow your brand through interactive ads that are shown to millions of people, <span>daily.</span>
      </h2>
      <div class="login-buttons">
        <a class="black left" href="/oauth/instagram">
          <span class="fa fa-instagram"></span>
          Grow your Instagram
        </a>
        <a class="blue right" href="/oauth/twitter">
          <span class="fa fa-twitter"></span>
          Grow your Twitter
        </a>
        <div class="clear"></div>
      </div>
    </header>
    <div class="clear"></div>
  </div>
</div>