<div id="hero" class="hero social dark-navigation">
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe src="<%= LIBS.models.Creative.example_frame("instagram") %>" onload="this.style.display='block';"></iframe>
      <iframe src="<%= LIBS.models.Creative.example_frame("twitter_odesza") %>" onload="this.style.display='block';"></iframe>
    </div>
    
    <header class="header">
      <h1>Reach new highly engaged followers!</h1>
      <h2>
        Grow your brand through interactive ads that are shown to millions of people daily.
      </h2>
      <div class="actionable">
        <form class="form" method="POST" action="/register">
          <% include ../../../includes/csrf %>
          <input type="hidden" name="type" value="demand" />
          <input type="hidden" name="type_engage" value="Social" />
          <input class="top-short left" name="name" type="text" placeholder="Micheal Scott" required/>
          <input class="top-long right" name="email" type="email" placeholder="micheal.scott@dunderm.com"/>
          <div class="clear"></div>
          <input class="last" name="password" type="password" placeholder="Strong Password" required/>
          <button class="button purple">Sign Up <span class="fa fa-arrow-right"></span></button>
          <div class="clear"></div>
          <div class="error"></div>
        </form>
      </div>
    </header>
    <div class="clear"></div>
  </div>
</div>