<% include ../includes/start %>
<div class="container analytics-dashboard">
  <div class="display full top-chart">
    <div class="side-note">Metrics update hourly</div>
    <div class="metrics">
      <div class="metric full main">
        <div class="chart-wrapper">
          <div class="chart impressions"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display full">
    <div class="metrics">
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart impression-count fill"></div>
        </div>
      </div>
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart click-count fill"></div>
        </div>
      </div>
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart visitors-count fill"></div>
        </div>
      </div>
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart fill-count fill"></div>
        </div>
      </div>
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart ctr-count fill"></div>
        </div>
      </div>
      <div class="metric thirds">
        <div class="chart-wrapper">
          <div class="chart protection-count fill"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display full">
    <div class="metrics">
      <div class="metric half">
        <div class="chart-wrapper padding">
          <div class="chart browsers fill"></div>
        </div>
      </div>
      <div class="metric half right">
        <div class="chart-wrapper padding">
          <div class="chart os fill"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../includes/end %>