<div id="hero" class="hero music dark-navigation">
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe src="<%= LIBS.models.Creative.example_frame("soundcloud") %>" onload="this.style.display='block';"></iframe>
    </div>
    
    <header class="header">
      <h1>Increase play counts with new listeners!</h1>
      <h2>
        Have millions of people listen to your tracks, albums, and playlists through our ads.
      </h2>
      <div class="login-buttons">
        <a class="orange left" href="/oauth/soundcloud">
          <span class="fa fa-soundcloud"></span>
          Grow your SoundCloud
        </a>
        <div class="clear"></div>
      </div>
    </header>
    <div class="clear"></div>
  </div>
</div>