<div id="hero" class="hero music dark-navigation">
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe src="<%= LIBS.models.Creative.example_frame("soundcloud") %>" onload="this.style.display='block';"></iframe>
    </div>
    
    <header class="header">
      <h1>Increase play counts with new listeners!</h1>
      <h2>
        Have millions of people listen to your tracks, albums, and playlists through our ads.
      </h2>
      <div class="actionable">
        <form class="form" method="POST" action="/register">
          <% include ../../../includes/csrf %>
          <input type="hidden" name="type" value="demand" />
          <input type="hidden" name="type_engage" value="Music" />
         <input class="top-short left" name="name" type="text" placeholder="Name: Micheal Scott" required/>
          <input class="top-long right" name="email" type="email" placeholder="Email: micheal@dunderm.com"/>
          <div class="clear"></div>
          <input class="last" name="password" type="password" placeholder="Password: Super1Cali2Fragilistic3Expiali4Docious5" required/>
          <button class="button orange">Sign Up <span class="fa fa-arrow-right"></span></button>
          <div class="clear"></div>
          <div class="error"></div>
        </form>
      </div>
    </header>
    <div class="clear"></div>
  </div>
</div>