<div id="hero" class="hero music dark-navigation">
  <div class="container">
    <% include ../../header %>
    <div class="examples">
      <iframe width="400" height="420" src="<%= LIBS.models.Creative.example_frame("soundcloud") %>" onload="this.style.display='block';"></iframe>
    </div>
    
    <header class="header">
      <h1>Reach new highly engaged listeners!</h1>
      <h2>
        Grow your following through interactive ads that are shown to millions of people, <span>daily.</span>
      </h2>
      <div class="login-buttons">
        <a class="orange left" href="/oauth/soundcloud">
          <span class="fa fa-soundcloud"></span>
          Grow your SoundCloud
        </a>
        <div class="clear"></div>
      </div>
    </header>
    <div class="clear"></div>
  </div>
</div>