@import '../libs/all';
@import './colors';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 1150px;
  position: relative;
  background: #F1F5F9;
  color: @text;
  .reset-box-model();

  * {
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-padding-start: 0px;
    .box-sizing(border-box);
  }

  ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }

  a {
    color: inherit;
  	text-decoration: none;
  }

  .hidden {
    display: none;
  }

  .left {
  	.float-left();
  }

  .right {
  	.float-right();
  }

  .center {
  	margin-left: auto;
  	margin-right: auto;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .clear {
  	float: none;
  	clear: both;
  	.clearfix();
  }

  .full {
  	float: none;
  	clear: both;
  	margin: 0;
  	width: 100%;
  }
  
  .logo {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.25em;
    color: @logo;
    text-shadow: 0 2px 0 rgba(0,0,0,0.1);
    margin: 0;
    position: relative;
    display: inline-block;
    
    sup {
      font-size: 0.3em;
      vertical-align: text-top;
      color: @text_weak;
      text-shadow: none;
    }
    
    #HW_badge_cont {
      position: absolute;
      top: -12px;
      right: -25px;
    }
  }
  
  header.navigation {
    padding: 10px 20px;
    width: 100%;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    
    &.none {
      border-bottom: none;
      
      .logo {
        color: @blue;
      }
      
      .links a {
        color: #424770;
        
        &:hover {
          background: rgba(0,0,0,0.025);
        }
        
        &.active {
          background: rgba(0,0,0,0.05);
        }
      }
    }
    
    &.demand {
      background: #E6525A;
    }
    
    &.supply {
      background: #1F8CEB;
    }
    
    .logo {
      color: white;
      font-size: 2em;
      position: relative;
      top: 3px;
      margin-right: 25px;
    }
    
    .spacer {
      position: relative;
      top: -2px;
      width: 6px;
      height: 6px;
      background: rgba(0,0,0,0.2);
      margin: 0 4px;
      display: inline-block;
      .border-radius(50%);
    }
    
    .links {
      position: relative;
      display: inline-block;
      font-family: "Ubuntu";
      
      &.right {
        margin-top: 3px;
      }
      
      a {
        display: inline-block;
        margin: 0 2px;
        font-size: 1.2em;
        color: white;
        font-weight: lighter;
        padding: 7px 10px;
        .border-radius(3px);
        
        &.active {
          background: rgba(0,0,0,0.2);
        }
        
        &:hover {
          background: rgba(0,0,0,0.1);
        }
        
        span {
          position: relative;
          top: -1px;
          margin-right: 5px;
          font-size: 0.8em;
        }
      }
    }
  }
  
  footer {
    padding: 30px;
    text-align: center;
    color: @blue;
    font-size: 1.05em;
    width: 100%;
    
    ul li {
      display: inline-block;
      margin: 0 15px;
      
      a:hover {
        text-decoration: underline;
      }
    }
  }
  
  .fixed-side-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 80px;
    vertical-align: top;
    z-index: 10000;
    
    span {
      display: inline-block;
      
      a {
        float: none;
      }
      
      .dropdown-item {
        display: none;
      }
      
      &:hover .dropdown-item {
        display: block;
      }
    }
    
    a {
      background: #C6C9D0;
      color: white;
      padding: 8px 17px;
      margin: 0 5px 5px 0;
      text-align: center;
      display: block;
      float: left;
      min-width: 90px;
      .border-radius(2px);
      
      &:hover {
        background: @blue;
      }
      
      &.red {
        background: lighten(@red, 15%);
        color: white;
        
        &:hover {
          background: lighten(@red, 5%);
        }
      }
      
      &.inverse {
        background: transparent;
        color: @blue;
        font-size: 1.1em;
        font-weight: bold;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  *:disabled, .disabled {
    opacity: .8;
  }
  
  input:not([type="checkbox"]), .input,
  textarea, .textarea {
    width: 100%;
    background: #fafbfc;
    color: #3b5468;
    border: 1px solid #dde5ed;
    font-size: 16px;
    padding: 16px 15px;
    margin: 0;
    .box-shadow(0 0 0px 1000px #fafbfc inset);
    .border-radius(5px);
    
    &.white {
      background: white;
      .box-shadow(0 0 0px 1000px white inset);
    }
    
    &:disabled, &.disabled {
      color: rgba(0,0,0,0.5);
      cursor: not-allowed;
    }
    
    &[type="checkbox"] {
      width: inherit;
      background: inherit;
      color: @blue;
      border: none;
      padding: inherit;
      margin: inherit;
      .box-shadow(none);
      .border-radius(0);
    }
  }
            
  button, .button {
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    height: 52px;
    line-height: 1.4;
    display: inline-block;
    padding: 15px 0 14px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    color: white;
    padding: 0;
    .linear-gradient(top, @blue, darken(@blue, 5%),  @blue);
    .border-radius(5px);
    
    &:hover {
      .linear-gradient(top, darken(@blue, 5%), darken(@blue, 10%),  darken(@blue, 5%));
    } 
    
    &.loading {
      background: #C6C9D0 !important; 
    }
    
    &:disabled, &.disabled {
      cursor: not-allowed;
    }
  }

  select,
  textarea {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    margin: 0;
    border: none;
    .border-radius(0);
    .box-shadow(none);
    .box-sizing(border-box);
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select, textarea {
    .appearance(none);
  }
  
  button, 
  input[type="button"],
  input[type="submit"] {
    cursor: pointer;
  }

  pre {
    margin: 0;
    padding: 0;
  }

  iframe {
    outline: none;
    border: none;
  }
}