<h2>Analytics</h2>
<div class="metrics">
  <div class="range-display">
    <span class="fa fa-calendar"></span>
    <span class="fa fa-spin fa-refresh" style="display:none"></span>
    <span class="text"></span>
  </div>
  <div class="metric full main">
    <div class="chart-wrapper">
      <div class="chart impressions"></div>
    </div>
  </div>
  <div class="metric thirds">
    <div class="chart-wrapper">
      <div class="chart impression-count fill"></div>
    </div>
  </div>
  <div class="metric thirds">
    <div class="chart-wrapper">
      <div class="chart click-count fill"></div>
    </div>
  </div>
  <div class="metric thirds right">
    <div class="chart-wrapper">
      <div class="chart visitors-count fill"></div>
    </div>
  </div>
  <div class="metric half left">
    <div class="chart-wrapper">
      <div class="chart ctr-count fill"></div>
    </div>
  </div>
  <div class="metric half right">
    <div class="chart-wrapper">
      <div class="chart protection-count fill"></div>
    </div>
  </div>
  <div class="metric half">
    <div class="chart-wrapper padding">
      <div class="chart browsers fill"></div>
    </div>
  </div>
  <div class="metric half right">
    <div class="chart-wrapper padding">
      <div class="chart devices fill"></div>
    </div>
  </div>
</div>
