<html>
  <head>
    <!-- START MIZA CODE -->
    <script type='text/javascript'>   
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
              	
      (function(window, base) {
        var script = document.createElement("script");
        script.src = "//" + base + "?r=" + Math.random();
        script.async = true;
        document.getElementsByTagName('head')[0].appendChild(script);
      })(window, "<MIZA ENDPOINT>");
    </script>
    <!-- END MIZA CODE -->
  </head>
  <body>
    <!-- START AD PUBLISHER CODE -->
    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
        googletag.defineSlot(
          '/72625737/sledge', [300, 250], 
          '<MIZA KEY>-1468566910229-0'
        ).addService(googletag.pubads());
      });
    </script>
    <div id='<MIZA KEY>-1468566910229-0'>
      <script type='text/javascript'>
        googletag.cmd.push(function() { 
          googletag.display('<MIZA KEY>-1468566910229-0');
        });
      </script>
    </div>
    <!-- END AD PUBLISHER CODE -->
  </body>
</html>
