<div id='<%= sledge_key || "<SLEDGE KEY>" %>-1468566910229-0' style='height:250px; width:300px;'>
  <script type='text/javascript'>
    googletag.cmd.push(function() { 
      googletag.display('<%= sledge_key || "<SLEDGE KEY>" %>-1468566910229-0')
    })
  </script>
</div>