@import '../compless/all';
@import '../global/colors';

.billing-dashboard {
  .metrics {
    .metric .primary {
      color: @green;
    }
    
    .secondaries .row .metric .primary {
      color: darken(@green, 15%);
    }
  }
  
  .logs-table {
    tr td, tr th {    
      &:nth-child(1) {
        width: 30%
      }
      
      &:nth-child(2) {
        width: 15%
      }
      
      &:nth-child(3) {
        width: 15%;
      } 
      
      
      &:nth-child(4) {
        width: 20%;
      } 
      
      &:nth-child(5) {
        width: 20%;
      } 
    }
    
    tr td:nth-child(2)  {
      color: @green;
    }
    
    tr td:nth-child(3) {
      text-transform: capitalize; 
    }
    
    tr.succeeded td:nth-child(3) {
      color: @blue;
    }
    
    tr.failed td:nth-child(3) {
      color: @red;
    }
    
    tr.refunded td:nth-child(3) {
      color: @orange;
    }
  }
}

.metrics {
  margin-bottom: 65px;
  .clearfix();
  
  .metric {
    display: inline-block;
    text-align: center;
    
    .primary {
      font-size: 5em;
      font-weight: bold;
      color: @blue;
      text-shadow: 1px 2px 0 rgba(0,0,0,0.1);
    }
    
    .secondary {
      font-size: 1.2em;
      color: #b6b6b6;
    }
  }
  
  .core {
    width: 55%;
    font-size: 1.55em;
  }
  
  .secondaries {  
    width: 45%;
        
    .row {
      padding: 25px 0;
      border-bottom: solid 1px #f6f6f6;
      
      &:first-child {
        padding-top: 0;
      }
      
      &:last-child {
        border: none;
      }
      
      .metric {
        font-size: 0.7em;
        width: 49%;
        
        .primary {
          color: darken(@blue, 25%);
        }
      }
    }
  }
}  


.logs-table {
  width: 100%;
  text-align: left;
  font-size: 1.25em;
  border-spacing: 0;
  
  th {
    padding: 10px 8px;
    border-bottom: solid 1px #EDF1F5;
  }
  
  tr.protected td:nth-child(3)  {
    color: @green;
  }
  
  tr.normal {
    opacity: 0.5;
  }
  
  tr td, tr th {    
    &:nth-child(1) {
      width: 15%
    }
    
    &:nth-child(2) {
      width: 20%
    }
    
    
    &:nth-child(3) {
      width: 17%
    } 
    
    
    &:nth-child(4) {
      width: 25%;
      padding-right: 15px;
    } 
    
    &:nth-child(5) {
      width: 23%;
    } 
  }
  
  td {
    font-size: 0.95em;
    padding: 12px 5px;
    vertical-align: text-top;
    font-weight: lighter;
    
    &:first-child, &:nth-child(2) {
      text-transform: capitalize;
    }
    
    &:nth-child(3) {
      text-transform: uppercase;
    } 
    
    &:nth-child(4) {
      word-wrap: break-word;
      word-break: break-all;
    } 
  }
  
  tr:last-child td {
    border: none;
  }
}

.logs-table-message {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 1.5em;
  padding: 25px 0;
  font-weight: lighter;
}

