<div class="hero payouts">
  <div class="container">
    <div class="navigation">
      <div class="left">
        <a href="/">
          <% include ../../includes/logo.ejs %>
        </a>
        <div class="shortcuts">
          <a href="/#features">Products</a>
          <a href="/#customers">Customers</a>
          <a href="/payouts">Payouts</a>
          <a href="/about">About Us</a>
        </div>
      </div>
      <div class="right">
        <% include ../../includes/header %>
      </div>
    </div>
    <div class="brief">
      <h2>Simple, monthly payouts.</h2>
      <h3>Premium CPMs for ad block users.</h3>
    </div>
    <div class="modal">
      <div class="title">EARN AS YOU GO</div>
      <div class="payout">$2-5 CPM</div>
      <div class="subpayout">per thousand impressions</div>
      <div class="bennefits">
        <div class="bennefit">
          <span class="fa fa-star"></span>
          <div>No setup, monthly, or hidden fees</div>
        </div>
        <div class="bennefit">
          <span class="fa fa-arrow-up"></span>
          <div>Earn based on impressions</div>
        </div>
        <div class="bennefit">
          <span class="fa fa-signal"></span>
          <div>Real-time reporting tools</div>
        </div>
      </div>
      <a href="/register">
        Create Account <span class="fa fa-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="bg-footer"></div>
</div>