<div class="hero payouts">
  <div class="container">
    <div class="navigation">
      <div class="left">
        <a href="/">
          <% include ../../includes/logo.ejs %>
        </a>
        <div class="shortcuts">
          <a href="/#features">Products</a>
          <a href="/#customers">Customers</a>
          <a href="/payouts">Payouts</a>
          <a href="/about">About Us</a>
        </div>
      </div>
      <div class="right">
        <% include ../../includes/header %>
      </div>
    </div>
    <div class="brief">
      <h2>Simple, monthly payouts.</h2>
      <h3>Premium CPMs for blocked users.</h3>
    </div>
  </div>
  <div class="bg-footer"></div>
</div>