<div class="company">
  <div class="container">
    <h3>How am I paid?</h3>
    <p>
      <%= company %> is a hosted solution that helps publishers guard advertising revenue from ad blockers.
      With a few lines of code, publishers can have ads back on their site in minutes. Built on top of a highly 
      refined technology to deliver advertisements on premium CPMs, publishers are provided the tools and analytics
      to ensure the best experience for their users.
    </p>
    <p>
      Founded in 2016 by Brian Vallelunga and Ambrish Verma, <%= company %> is located in San Francisco.
    </p>
  </div>
  <div class="container">
    <h3>How are payouts calculated?</h3>
    <p>
      We believe that content on the internet should be relatively free for all users. By open sourcing our individual knowledge,
      as a society we can pull together and build the future. Advertising plays a pinnacle role in keeping this tradition by shifting
      costs from users to businesses.
      <strong>Our mission is help publishers uphold this tradition by providing tools that guard their revenues from ad blockers.</strong>
    </p>
    <p>
      Approximately 300 million users, ~30% of web traffic, have ad blockers installed. Meaning 30% of your users 
      will never see the ads on a publishers site. In 2015, over $22 billion of ad revenue was lost to ad blockers. With
      ad blocker adoption rates growing at 41% year over year, it is important that someone steps up to defend the industry that 
      powers the free internet. 
    </p>
  </div>
  <div class="container">
    <h3>I thought you pay for <%= company %> Protect?</h3>
    <p>
      We believe that content on the internet should be relatively free for all users. By open sourcing our individual knowledge,
      as a society we can pull together and build the future. Advertising plays a pinnacle role in keeping this tradition by shifting
      costs from users to businesses.
      <strong>Our mission is help publishers uphold this tradition by providing tools that guard their revenues from ad blockers.</strong>
    </p>
    <p>
      Approximately 300 million users, ~30% of web traffic, have ad blockers installed. Meaning 30% of your users 
      will never see the ads on a publishers site. In 2015, over $22 billion of ad revenue was lost to ad blockers. With
      ad blocker adoption rates growing at 41% year over year, it is important that someone steps up to defend the industry that 
      powers the free internet. 
    </p>
  </div>
</div>