<div class="hero demo">
  <div class="container">
    <% include ../header %>
    <div class="brief">
      <h2>Toggle Ad Blocker On/Off</h2>
      <p><%= company %> Network ads appear when your ad blocker is activated.</p>
    </div>
    <div class="modal">
      <div class="title">AD FROM <span>LOADING</span> NETWORK</div>
      <iframe src="/demo/miza"></iframe>
    </div>
  </div>
</div>