<div class="company">
  <div class="container">
    <h3>Intelligent Ad Detection</h3>
    <p>
      Our system will automatically detect ads from your existing ad networks. 
      When an ad blocker is active, <%= company %> will replace those 
      blocked ads with ones from our protected network.
    </p>
  </div>
  <div class="container">
    <h3>Stylishly Unobtrusive Ads</h3>
    <p>
      Ads from the <%= company %> Network catch a user's eye without ruining their 
      experience on your site. We strive to create win-win solutions for you and your visitors.
    </p>
  </div>
  <div class="container">
    <h3>Premium Demand Partners</h3>
    <p>
      Your ad blocked visitors are emerging as a premium audience resulting 
      in strong CPMs. Our demand partners are excited about connecting with
      people previously unreachable. For more about payouts, visit
      our <a href="/monetize">monetization page</a>.
    </p>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Get in touch or create an account.</span> 
  </div>
  <div class="right">
    <a href="/register">Create Account</a>
    <a class="inverse" href="/">Request Demo</a>
  </div>
  <div class="clear"></div>
</div>