<html>
	<head>
  	<title>Miza Tester</title>	
  	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  	<style>
    	html, body {
      	padding: 0;
      	margin: 0;
    	}
    	
    	div {
      	margin: 0 auto;
    	}
  	</style>
		<%- include("../../samples/head") %>
	</head>
	<body>
  	<div>
     <%- include("../../samples/body") %>
  	</div>
	</body>
</html>