<h2>Analytics</h2>
<div class="warning hidden">
  Metrics may vary slightly when
  compared to the billing dashboard as they 
  are localized<br>to your time while the day by
  day breakdown on the billing dashboard is not.
</div>
<div class="metrics">
  <div class="range-display">
    <span class="fa fa-calendar"></span>
    <span class="fa fa-spin fa-refresh" style="display:none"></span>
    <span class="text"></span>
  </div>
  <div class="core metric left">
    <div class="primary impressions-metric">---</div>
    <div class="secondary">Protected Impressions (PI)</div>
  </div>
  <div class="secondaries right">
    <div class="row">
      <div class="metric">
        <div class="primary clicks-metric">---</div>
        <div class="secondary">Protected Clicks (PC)</div>
      </div>
      <div class="metric">
        <div class="primary views-metric">---</div>
        <div class="secondary">Total Page Views (TPV)</div>
      </div>
    </div>
    <div class="row">
      <div class="metric">
        <div class="primary ctr-metric">---</div>
        <div class="secondary">Click Through Rate (CTR)</div>
      </div>
      <div class="metric">
        <div class="primary blocked-metric">---</div>
      <div class="secondary"><%= company %> Protection (MP)</div>
      </div>
    </div>
  </div>
</div>
<table class="logs-table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Network</th>
      <th>Browser</th>
      <th>System</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="logs-table-message">Loading recent logs...</div>