<h2>Monthly Analytics</h2>
<div class="metrics">
  <div class="core metric left">
    <div class="primary impressions-metric">&nbsp;</div>
    <div class="secondary">Impressions Protected</div>
  </div>
  <div class="secondaries right">
    <div class="row">
      <div class="metric">
        <div class="primary clicks-metric">&nbsp;</div>
        <div class="secondary">Clicks Protected</div>
      </div>
      <div class="metric">
        <div class="primary assets-metric">&nbsp;</div>
        <div class="secondary">Assets Protected</div>
      </div>
    </div>
    <div class="row">
      <div class="metric">
        <div class="primary ctr-metric">&nbsp;</div>
        <div class="secondary">Click Through Rate (CTR)</div>
      </div>
      <div class="metric">
        <div class="primary blocked-metric">&nbsp;</div>
      <div class="secondary">Ad Blocker Installed</div>
      </div>
    </div>
  </div>
</div>
<table class="logs-table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Network</th>
      <th>Browser</th>
      <th>IP Address</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="logs-table-message">Loading recent logs...</div>