<div class="display full table">
  <div class="table-navigation">
    <div class="left range-display">
      <span class="fa fa-calendar"></span>
      <span class="fa fa-spin fa-refresh" style="display:none"></span>
      <span class="text"></span>
    </div>
    <a class="button-major right" href="<%= path %>/create">
      <span class="fa fa-plus"></span>
      New Campaign
    </a>
    <div class="clear"></div>
  </div>
  <div class="table-header">
    <div class="actions left">
      <div class="action" data-action="running">
        <span class="fa fa-play"></span>
        Run
      </div>
      <div class="action" data-action="paused">
        <span class="fa fa-pause"></span>
        Pause
      </div>
      <div class="action" data-action="delete">
        <span class="fa fa-trash"></span>
        Delete
      </div>
    </div>
    <div class="search-box right">
      <div class="fa fa-search"></div>
      <input type="text" class="white" placeholder="Search...."/>
    </div>
  </div>
  <div class="table-body">
    <table class="hidden">
      <thead>
        <tr>
          <th></th>
          <th>Campaign Name</th>
          <th>Status</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>Budget</th>
          <th>Spend</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>