<% include ../includes/start %>
<div class="fixed-side-nav">
  <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <a href="mailto:<%= support_email %>">Contact Us</a>
</div>
<div class="container large">
  <% include ../includes/logo %>
  <p>
    Thank you for requesting access! We do our best
    to ensure your ads will always be delivered, by 
    fine tuning our system for your needs.
    We will reach out shortly to see how we can help. 😀
  </p>
</div>
<% include ../includes/end %>