<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <% include ../includes/logo %>
  <p>
    Thank you for requesting a demo! Keep an eye on your inbox, one of our
    specialists will reach out shortly.
  </p>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>