<% include ../includes/start %>
<div class="fixed-side-nav">
  <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <a href="mailto:<%= support_email %>">Contact Us</a>
</div>
<div class="container">
  <% include ../includes/logo %>
  <p>
    Thanks for joining the beta! We do our
    best to ensure your ads are always delivered.
    We will reach out shortly to see how we can help.
  </p>
</div>
<% include ../includes/end %>