<% include ../includes/start %>
<a class="fixed-back" href="/">Home</a>
<div class="container">
  <% include ../includes/logo %>
  <p>
    Thanks for joining the beta! We do our
    best to ensure your ads are always delivered.
    We will reach out shortly to see how we can help.
  </p>
</div>
<% include ../includes/end %>