<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large">
  <div class="list">
    <a href="/supply">
      <div class="fa fa-globe"></div>
      <div class="name">Publishers</div>
    </a>
    <a href="/demand">
      <div class="fa fa-building-o"></div>
      <div class="name">Advertisers</div>
    </a>
  </div>
</div>
<% include ../includes/end %>