<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <div class="list">
    <a href="/publisher">
      <div class="fa fa-globe"></div>
      <div class="name">Publishers</div>
    </a>
    <a href="/advertiser">
      <div class="fa fa-building-o"></div>
      <div class="name">Advertiser</div>
    </a>
  </div>
</div>
<% include ../includes/end %>