<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large">  
  <div class="list">
    <span>
      Hello there, please select which<br>dashboard you would like to see.
    </span>
    <a href="/dashboard/demand">
      <div class="fa fa-building-o"></div>
      <div class="name">Advertiser</div>
    </a>
    <a href="/dashboard/supply">
      <div class="fa fa-globe"></div>
      <div class="name">Publisher</div>
    </a>
  </div>
</div>
<% include ../includes/end %>