<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large-2 error">
  <h1 class="error"><%- error.replace(/(?:\r\n|\r|\n)/g, '<br />') %></h1>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>