<div class="navigation">
  <div class="left">
    <a href="/">
      <% include ../includes/logo.ejs %>
    </a>
    <div class="shortcuts">
      <a href="/">Product</a>
      <a href="/demo">Live Demo</a>
      <a href="/monetize">Monetize</a>
      <a href="/about">About Us</a>
    </div>
  </div>
  <div class="right">
    <% include ../includes/header %>
  </div>
</div>