<div class="navigation">
  <div class="left">
    <a href="/">
      <% include ../includes/logo.ejs %>
    </a>
    <div class="shortcuts">
      <a href="/demand" class="dynamic" data-for="demand">Advertisers</a>
      <a href="/supply" class="dynamic" data-for="supply">Publishers</a>
      <a href="/about">Company</a>
    </div>
  </div>
  <div class="right">
    <% include ../includes/header %>
  </div>
  
  <div class="navigation-modal">
    <div class="arrow fa fa-arrow-up"></div>
    
    <div class="demand dynamic">
      <a class="item blue" href="/demand/social">
        <span class="fa fa-twitter"></span>
        <div class="info">
          <div class="name">Social</div>
          <div class="desc">Amass a following on Twitter and Instagram.</div>
        </div>
      </a>
      <a class="item orange" href="/demand/music">
        <span class="fa fa-soundcloud"></span>
        <div class="info">
          <div class="name">Music</div>
          <div class="desc">Increase play counts with new SoundCloud listeners.</div>
        </div>
      </a>
      <a class="item etsy" href="/demand/commerce">
        <span class="fa fa-amazon"></span>
        <div class="info">
          <div class="name">Commerce</div>
          <div class="desc">Show your Amazon, Etsy, Kickstarter and Indiegogo products to millions.</div>
        </div>
      </a>
      <a class="item purple" href="/demand">
        <span class="fa fa-asterisk"></span>
        <div class="info">
          <div class="name">Enterprise</div>
          <div class="desc">Let's build a unique experience tailored your brand.</div>
        </div>
      </a>
    </div>
    
    <div class="supply dynamic">
      <a class="item blue" href="/supply">
        <span class="fa fa-life-saver"></span>
        <div class="info">
          <div class="name">Product</div>
          <div class="desc">Monetize your ad blocked inventory in minutes.</div>
        </div>
      </a>
      <a class="item purple" href="/supply/demo">
        <span class="fa fa-flash"></span>
        <div class="info">
          <div class="name">Live Demo</div>
          <div class="desc">See how our ad units behave with an ad blocker.</div>
        </div>
      </a>
      <a class="item green" href="/supply/monetize">
        <span class="fa fa-dollar"></span>
        <div class="info">
          <div class="name">Monetize</div>
          <div class="desc">Timely monthly payouts with premium CPMs through PayPal.</div>
        </div>
      </a>
    </div>
  </div>
</div>