<div class="navigation">
  <div class="left">
    <a href="/">
      <% include ../includes/logo.ejs %>
    </a>
    <div class="shortcuts">
      <a href="/demand" class="dynamic" data-for="demand">Advertisers</a>
      <a href="/supply" class="dynamic" data-for="supply">Publishers</a>
      <a href="/about">Company</a>
    </div>
  </div>
  <div class="right">
    <div class="fa fa-bars fa-2x nav-button"></div>
    <div class="fixed-side-nav">
      <% if(user && !user.is_demo) { %>
        <a class="inverse" href="/account">Account</a>
        <a class="main" href="/dashboard">Dashboard</a>
      <% } else { %>
        <a href="/login" class="inverse">Log In</a>
        <a href="#" onclick="Intercom('show')">Contact Us</a>
      <% } %>
    </div>
  </div>

  <div class="navigation-menu">
    <a class="fa fa-times fa-2x close-navigation-menu"></a>
    <div class="advertisers">
      <h4>Advertisers</h4>
      <div class="advertiser-list">
        <ul>
          <li>
            <a class="item blue" href="/demand/social">
              <span class="fa fa-twitter"></span>
              <div class="name">Social</div>
            </a>
          </li>
          <li>
            <a class="item orange" href="/demand/music">
              <span class="fa fa-soundcloud"></span>
              <div class="name">Music</div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="item green" href="/demand/commerce">
              <span class="fa kickstarter">K</span>
              <div class="name">Commerce</div>
            </a>
          </li>
          <li>
            <a class="item red" href="/demand">
              <span class="fa fa-asterisk"></span>
              <div class="name">Enterprise</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="publisher">
      <h4>Publisher</h4>
      <div class="publisher-list">
        <ul>
          <li>
            <a class="item blue" href="/supply">
              <span class="fa fa-life-ring"></span>
              <div class="name">Product</div>
            </a>
          </li>
          <li>
            <a class="item purple" href="/supply/demo">
              <span class="fa fa-flash"></span>
              <div class="name">Live Demo</div>
            </a>
          </li>
          <li>
            <a class="item green" href="/supply/monetize">
              <span class="fa fa-dollar"></span>
              <div class="name">Monetize</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <a class="mobile-sign-in" href="/login">
        Sign in
      </a>
    </div>
  </div>

  <div class="navigation-modal">
    <div class="arrow fa fa-arrow-up"></div>

    <div class="demand dynamic">
      <a class="item blue" href="/demand/social">
        <span class="fa fa-twitter"></span>
        <div class="info">
          <div class="name">Social</div>
          <div class="desc">Amass a following on Twitter and Instagram.</div>
        </div>
      </a>
      <a class="item orange" href="/demand/music">
        <span class="fa fa-soundcloud"></span>
        <div class="info">
          <div class="name">Music</div>
          <div class="desc">Increase play counts with new SoundCloud listeners.</div>
        </div>
      </a>
      <a class="item green" href="/demand/commerce">
        <span class="fa kickstarter">K</span>
        <div class="info">
          <div class="name">Commerce</div>
          <div class="desc">Show your Amazon, Etsy, Kickstarter and Indiegogo products to millions.</div>
        </div>
      </a>
      <a class="item red" href="/demand">
        <span class="fa fa-asterisk"></span>
        <div class="info">
          <div class="name">Enterprise</div>
          <div class="desc">Let's build a unique experience tailored your brand.</div>
        </div>
      </a>
    </div>

    <div class="supply dynamic">
      <a class="item blue" href="/supply">
        <span class="fa fa-life-saver"></span>
        <div class="info">
          <div class="name">Product</div>
          <div class="desc">Monetize your ad blocked inventory in minutes.</div>
        </div>
      </a>
      <a class="item purple" href="/supply/demo">
        <span class="fa fa-flash"></span>
        <div class="info">
          <div class="name">Live Demo</div>
          <div class="desc">See how our ad units behave with an ad blocker.</div>
        </div>
      </a>
      <a class="item green" href="/supply/monetize">
        <span class="fa fa-dollar"></span>
        <div class="info">
          <div class="name">Monetize</div>
          <div class="desc">Timely monthly payouts with premium CPMs through PayPal.</div>
        </div>
      </a>
    </div>
  </div>
</div>
