<% include ../includes/start.html %>
<div class="hero">
  <div class="container">
    <div class="image left">
      <img src="/imgs/hero.png"/>
    </div>
    <div class="information right">
      <h1 class="logo">Sledge</h1>
      <h2 class="hook">
        Recapture lost ad revenue.
      </h2>
      <p class="explanation">
        Watch ads magically reappear on your website with Sledge! 
        Let us worry about Ad Blockers, so you can focus on what is important. 
      </p>
      <div class="actionable">
        <form class="form" method="POST" action="/beta">
          <input type="email" placeholder="Enter your email" required/>
          <button class="button">Join Beta</button>
        </form>
        <div class="login">
          <span>or</span>
          <a href="/login">
            <button class="button">Log In</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="supported">
  <div class="container">
    <span class="item text left">
      Sledge works great with<br>
      all the ad publishers you know!
    </span>
    <img class="item left" src="/imgs/dfp2.png"/>
    <img class="item left" src="/imgs/adroll.png"/>
    <img class="item left" src="/imgs/liverail.png"/>
    <img class="item left" src="/imgs/carbon.png"/>
  </div>
</div>
<% include ../includes/end.html %>