<% include ../includes/start %>
<% include ../includes/header %>
<div class="hero">
  <div class="container">
    <div class="hero-image left">
      <img src="/imgs/hero.png"/>
    </div>
    <div class="hero-information right">
      <% include ../includes/logo %>
      <h2 class="hook">
        Recapture lost ad revenue.
      </h2>
      <p class="explanation">
        Watch ads magically reappear on your website with <%= company %>! 
        Let us worry about Ad Blockers, so you can focus on what is important. 
      </p>
      <div class="actionable">
        <form class="form" method="POST" action="/access/request">
          <% include ../includes/csrf %>
          <input name="email" type="email" placeholder="Enter your email" required/>
          <button class="button">Request Access</button>
        </form>
        <div class="login">
          <span>or</span>
          <a href="/login">
            <button class="button">Sign In</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="supported">
  <span class="item text">
    <%= company %> works great with<br>
    all the ad networks you use!
  </span>
  <span class="item">
    <img class="item" src="/imgs/networks/carbon.png"/>
  </span>
  <span class="item">
    <img class="item" src="/imgs/networks/dfp.png"/>
  </span>
  <span class="item disabled">
    <img src="/imgs/networks/ad_sense.png"/>
    <div class="message">coming soon</div>
  </span>
  <span class="item disabled">
    <img src="/imgs/networks/roll.png"/>
    <div class="message">coming soon</div>
  </span>
</div>
<div class="sections">
  <div class="section">
    <div class="container">
      <div class="infographic">
        <h3>Publishers have <span>limited and ineffective</span> options.</h3>
        <div class="graphics">
          <div class="graphic">
            <div class="fa fa-money"></div>
            <div class="title">Pay Ransom</div>
            <div class="description">
              Pay Ad Blockers so some<br>
              of your ads are whitelisted.
            </div>
          </div>
          <div class="graphic">
            <div class="fa fa-area-chart"></div>
            <div class="title">Lose Revenue</div>
            <div class="description">
              Adopt suboptimal solutions<br>
              which provide limited protection.
            </div>
          </div>
          <div class="graphic">
            <div class="fa fa-users"></div>
            <div class="title">Churn Users</div>
            <div class="description">
              Move to payment models<br>
              and risk losing loyal users.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="information left">
        <h3>Start making money again!</h3>
        <ul>
          <li>
            <strong>Install in minutes. Copy and paste!</strong>
            <div>
              No need to rewrite your entire advertising code base.
              Just paste in our script before any other ad code,
              tweak a few variables and we will take care of the rest. 
            </div>
          </li>
          <li>
            <strong>Realtime Analytics.</strong>
            <div>
              View at-a-glance how <%= company %> is helping your
              company. Impression and click events are streamed 
              in realtime right to your dashboard.
            </div>
          </li>
          <li>
            <strong>Let us fight the good fight for you.</strong>
            <div>
              Ensuring your ads are delivered is a tick tac toe game
              with Ad Blockers. You need a team and 
              technology that will be there to out think their moves. 
              We will fight those battles so you can focus on 
              what matters most. 
            </div>
          </li>
        </ul>
      </div>
      <div class="display right">
        <img src="/imgs/dashboard.png"/>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="hook">
      Start capturing lost ad revenue with <%= company %>!
    </div>
    <div class="actionable">
      <form class="form" method="POST" action="/access/request">
        <% include ../includes/csrf %>
        <input name="email" type="email" placeholder="Enter your email" required/>
        <button class="button">Request Access</button>
      </form>
      <div class="login">
        <span>or</span>
        <a href="/login">
          <button class="button">Sign In</button>
        </a>
      </div>
    </div>
  </div>
</div>
<% include ../includes/footer %>
<a href="https://mixpanel.com/f/partner" class="mixpanel" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
<% include ../includes/end %>