<% include ../includes/start %>
<% include ../includes/header %>
<div class="legal">
  <% include ../includes/logo %>
  <iframe src="<%= document_url %>"></iframe>
</div>
<% include ../includes/end %>