<% include ../includes/start %>
<% include ../includes/header %>
<div class="legal">
  <a href="/">
    <% include ../includes/logo %>
  </a>
  <iframe src="<%= document_url %>"></iframe>
</div>
<% include ../includes/end %>