<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large">
  <p>
    <strong>Welcome to <%= company %>!</strong>
    <br>
    To get started, check the email
    we just sent to you on your computer.
  </p>
</div>
<% include ../includes/end %>
