<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large">
  <div class="mobile-sign-in">
      <h1 class="mobile-title">
        Welcome to Miza!
      </h1>
      <h2>
        Please check your email for more instructions.
      </h2>
      <p>
        Mobile support isn't here yet. You can return to our
        <a href="/">front page</a> or feel free to <a href="#" onclick="Intercom('show')">send us a question</a>.
      </p>
      <span>
      </span>
  </div>
</div>
<% include ../includes/end %>
