<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large">
  <a href="/">
    <% include ../includes/logo %>
  </a>
  <p>
    Thank you for reaching out! Keep an eye on your inbox, one of our
    specialists will reach out shortly.
  </p>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>