<div class="popup-menu">
  <a class="fa fa-times fa-2x close-popup-menu"></a>
  <div class="advertisers">
    <h4>Advertisers</h4>
    <div class="advertiser-list">
      <ul>
        <li>
          <a class="item blue" href="/demand/social">
            <span class="fa fa-twitter"></span>
            <div class="name">Social</div>
          </a>
        </li>
        <li>
          <a class="item orange" href="/demand/music">
            <span class="fa fa-soundcloud"></span>
            <div class="name">Music</div>
          </a>
        </li>
        <li>
          <a class="item green" href="/demand/commerce">
            <span class="fa kickstarter">K</span>
            <div class="name">Commerce</div>
          </a>
        </li>
        <li>
          <a class="item red" href="/demand">
            <span class="fa fa-asterisk"></span>
            <div class="name">Enterprise</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="publisher">
      <h4>Publisher</h4>
      <div class="publisher-list">
        <ul>
          <li>
            <a class="item blue" href="/supply">
              <span class="fa fa-life-ring"></span>
              <div class="name">Product</div>
            </a>
          </li>
          <li>
            <a class="item green" href="/supply/monetize">
              <span class="fa fa-dollar"></span>
              <div class="name">Monetize</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <a class="mobile-sign-in" href="/login">
        Sign in
      </a>
    </div>
  </div>
</div>
