<div class="company">
  <div class="container">
    <h3>About <%= company %></h3>
    <p>
      <%= company %> is a hosted solution that helps publishers guard advertising revenue from ad blockers.
      With a few lines of code, publishers can have ads back on their site in minutes. Built on top of a highly 
      refined technology to deliver advertisements for premium CPMs, publishers are provided the tools and analytics
      to ensure the best experience for it's users.
    </p>
    <p>
      Approximately 30% of all web traffic (~300 million users) have ad blockers installed. Meaning 30% of your users 
      will never see the ads on a publishers site. <strong>In 2015, over $22 billion of ad revenue was lost to ad blockers.</strong> With
      the adoption rate of ad blockers growing at a 41% YoY growth, it is important that someone steps up to defend the industry that 
      powers the free internet. 
    </p>
    <p>
      <%= company %> currently displays hundreds of millions of ads each month. 
      <%= company %> was founded in 2016 by Brian Vallelunga and Ambrish Verma and is located in San Francisco.
    </p>
  </div>
</div>