<div class="hero about">
  <div class="container">
    <div class="navigation">
      <div class="left">
        <a href="/">
          <% include ../../includes/logo.ejs %>
        </a>
        <div class="shortcuts">
          <a href="/">Product</a>
          <a href="/#customers">Customers</a>
          <a href="/monetize">Monetize</a>
          <a href="/about">About Us</a>
        </div>
      </div>
      <div class="right">
        <% include ../../includes/header %>
      </div>
    </div>
    <div class="brief">
      <h2>About <%= company %></h2>
      <p>
        <%= company %> is the best way to guard ad revenue from ad blockers. 
        We deliver +100 million impressions every month for forward-thinking publishers
        around the world.
      </p>
    </div>
    <div class="founders-image"></div>
  </div>
  <div class="founders">
    <div class="container">
      <div class="founder">
        <div class="name">Ambrish Verma</div>
        <div class="title">CEO, Founder</div>
        <div class="social">
          <a class="fa fa-linkedin-square" target="_blank" href="https://www.linkedin.com/in/ambrishverma"></a>
          <a class="fa fa-envelope" href="mailto:ambrish@miza.io"></a>
        </div>
      </div>
      <div class="founder">
        <div class="name">Brian Vallelunga</div>
        <div class="title">CTO, Founder</div>
        <div class="social">
          <a class="fa fa-linkedin-square" target="_blank" href="https://www.linkedin.com/in/vallelungabrian"></a>
          <a class="fa fa-envelope" href="mailto:brian@miza.io"></a>
        </div>
      </div>
    </div>
  </div>
</div>