<div class="hero about dark-navigation">
  <div class="container">
    <% include ../header %>
    <div class="brief">
      <h2>About <%= company %></h2>
      <p>
        <%= company %> is the best way to monetize ad blocked inventory while 
        solving the problems that catalyzed ad blocker adoption. 
        Join forward-thinking publishers who recover over +150 million impressions a month.
      </p>
    </div>
<!--     <div class="founders-image"></div> -->
  </div>
  <div class="founders">
    <div class="container">
<!--
      <div class="founder">
        <div class="name">Ambrish Verma</div>
        <div class="title">CEO, Founder</div>
        <div class="social">
          <a class="fa fa-linkedin-square" target="_blank" href="https://www.linkedin.com/in/ambrishverma"></a>
          <a class="fa fa-envelope" href="mailto:ambrish@miza.io"></a>
        </div>
      </div>
      <div class="founder">
        <div class="name">Brian Vallelunga</div>
        <div class="title">CTO, Founder</div>
        <div class="social">
          <a class="fa fa-linkedin-square" target="_blank" href="https://www.linkedin.com/in/vallelungabrian"></a>
          <a class="fa fa-envelope" href="mailto:brian@miza.io"></a>
        </div>
      </div>
-->
    </div>
  </div>
</div>