<div class="hero about">
  <div class="container">
    <div class="navigation">
      <div class="left">
        <a href="/">
          <% include ../../includes/logo.ejs %>
        </a>
        <div class="shortcuts">
          <a href="/#products">Products</a>
          <a href="/#features">Features</a>
          <a href="/#customers">Customers</a>
          <a href="/about">About Us</a>
        </div>
      </div>
      <div class="right">
        <% include ../../includes/header %>
      </div>
    </div>
  </div>
</div>
<div class="founders">
  <div class="container">
    <div class="founder">
      <div class="name">Ambrish Verma</div>
      <div class="title">CEO</div>
    </div>
    <div class="founder">
      <div class="name">Brian Vallelunga</div>
      <div class="title">CTO</div>
    </div>
  </div>
</div>