@import '../compless/all';
@import '../global/colors';

.container {
  width: 350px;
  margin: 180px auto 0;
  text-align: center;
  
  h1.logo {
    font-size: 3.5em;
    margin-bottom: 20px;
  }
  
  p {
    color: @text;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: lighter;
    width: 140%;
    margin-left: -20%;
  }
  
  input, textarea {
    padding: 16px 15px;
    border-top-width: 0;
    .border-radius(0);
  }
  
  textarea {
    margin-bottom: 10px;
    height: 200px;
  }
  
  .only {
    border-top-width: 1px;
    margin-bottom: 15px;
    .border-radius(3px);
  }
  
  .top {
    margin: 0;
    border-top-width: 1px;
    .border-radius(3px 3px 0 0);
  }
  
  .bottom {
    margin-bottom: 15px;
    .border-radius(0 0 3px 3px);
  }
  
  button {
    .border-radius(3px);
  }
  
  .error {
    margin-top: 10px;
    color: #C50000;
    font-size: 1.2em;
    font-weight: lighter;
  }
}