@import '../compless/all';
@import '../global/colors';

footer {
  position: fixed;
  bottom: 0;
}

.container {
  width: 350px;
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
  
  &.medium {
    width: 380px;
    padding-top: 130px;
  }
  
  &.large {
    width: 550px;
    padding-top: 130px;
  }
  
  &.large-2 {
    width: 800px;
    
    .form {      
      .view {
        width: 45%;
      }
      
      .card-wrapper {
        margin-top: 10px;
      }
    }
    
    &.industries {
      padding: 100px 0;
      
      input {
        padding: 12px 11px 10px;
        margin: 0;
      } 
      
      td {
        padding: 5px 0 5px 5px;
      }
      
      td:first-child {
        width: 40%;
        padding-left: 0;
      }
      
      td:not(:first-child) {
        width: 20%;
      }
      
      button {
        margin-top: 10px;
      }
    }
    
    &.publishers {
      padding: 100px 0;
      width: 1000px;
       
      a {
        color: @blue;
        
        &:not(.fa):hover {
          text-decoration: underline;
        }
      }
      
      table {
        width: 100%;
        text-align: left;
        font-size: 1.25em;
        border-spacing: 0;
        
        th {
          padding: 10px 8px;
          border-bottom: solid 1px #EDF1F5;
        }
        
        td {
          font-size: 0.95em;
          padding: 12px 8px;
          vertical-align: text-top;
          font-weight: lighter;
          
          &:first-child,
          &:last-child {
            text-transform: capitalize;
          }
        }
        
        tr:last-child td {
          border: none;
        }
      }
    }
  }
  
  h1.logo {
    font-size: 3.5em;
    margin-bottom: 20px;
  }
  
  p {
    color: @text;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: lighter;
  }
  
  span {
    color: @text;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: lighter;
    display: block;
    padding-bottom: 20px;
  }
  
  input, .input,
  textarea, .textarea {
    width: 100%;
    padding: 16px 15px;
    border-top-width: 0;
    .border-radius(0);
    
    &.only {
      border-top-width: 1px;
      margin-bottom: 15px;
      .border-radius(3px);
    }
    
    &.top {
      margin: 0;
      border-top-width: 1px;
      .border-radius(3px 3px 0 0);
    }
    
    &.bottom {
      margin-bottom: 15px;
      .border-radius(0 0 3px 3px);
    }
  }
  
  textarea {
    margin-bottom: 10px;
    height: 200px;
  }
  
  .split input {
    width: 50%;
    display: inline-block;
    
    &.left {
      .border-radius(0 0 0 3px);
      border-right: none;
    }
    
    &.right {
      .border-radius(0 0 3px 0);
    }
  }
  
  .group {
    position: relative;
    
    .fa, a {
      position: absolute;
      font-size: 1.5em;
      top: 15px;
      right: 15px;
      color: rgba(0,0,0,0.1);
      z-index: 1;
    }
    
    a {
      font-size: 1em;
      font-weight: bold;
      color: @blue;
      text-transform: uppercase;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .checkbox-group {
    margin-bottom: 15px;
    text-align: center;
    .clearfix();
    
    label {
      font-size: 0.85em;
      display: inline-block;
      margin-left: 10px;
      
      a {
        color: @blue;
      
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
    
  button {
    .border-radius(3px);
  }
  
  .stripe {
    width: 150px;
    margin-top: 50px;
  }
  
  .error {
    margin-top: 10px;
    color: #C50000;
    font-size: 1.2em;
    font-weight: lighter;
  }
  
  .jp-card .jp-card-front .jp-card-logo {
    overflow: hidden;
    .border-radius(2px);
  }
}