<h2>Billing</h2>
<div class="metrics">
  <div class="core metric left">
    <div class="primary revenue-metric">&nbsp;</div>
    <div class="secondary">Revenue Protected</div>
  </div>
  <div class="secondaries right">
    <div class="row">
      <div class="metric">
        <div class="primary owe-metric">&nbsp;</div>
        <div class="secondary">Amount Owed</div>
      </div>
      <div class="metric">
        <div class="primary billed-metric">&nbsp;</div>
        <div class="secondary">Billed On</div>
      </div>
    </div>
    <div class="row">
      <div class="metric">
        <div class="primary cpm-metric">&nbsp;</div>
        <div class="secondary">Cost Per Thousand (CPM)</div>
      </div>
      <div class="metric">
        <div class="primary fee-metric">&nbsp;</div>
        <div class="secondary">Protection Fee</div>
      </div>
    </div>
  </div>
</div>
<table class="logs-table">
  <thead>
    <tr>
      <th>Payment ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Method</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="logs-table-message">Loading recent logs...</div>