<h2>Billing</h2>
<div class="metrics">
    <div class="core metric tooltip" title="Charges to date. Unpaid charges from previous cycles will be included.">
      <div class="primary owed-metric">---</div>
      <div class="secondary">Billed On <%= billed_on %></div>
      <div class="notes">100% money back guarantee</div>
    </div>
</div>
<% if(true || !publisher.is_demo && publisher.industry.cpm * publisher.fee > 0) { %>
  <div class="warning grey">
    LIMITED TIME OFFER<br>
    Want to receive a 30% discount? <a href="mailto:<%= support_email %>?subject=Billing%20Discount&body=I%20heard%20about%20the%2030%25%20discount%20and%20want%20in%20for%20my%20<%= publisher.name %>%20account%21">Learn more</a>.
  </div>
<% } %>
<div class="billing-table dns">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <th><span>Date</span></th>
      <th><span>Count</span></th>
      <th><span>CPM</span></th>
      <th><span>Charges</span></th>
    </thead>
    <body>
      <tr class="loading">
        <td colspan="4">Loading charges breakdown...</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">Total Charges</td>
        <td class="owed-metric">---</td>
      </tr>
    </body>
  </table>
</div>
<table class="logs-table">
  <thead>
    <tr>
      <th>Payment ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Method</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="logs-table-message">Loading recent logs...</div>