<information>
  <table>
    <tr>
      <td>
        We love creating content that makes users 
        like you happy every day. Without advertising
        we would be forced to make you pay for the 
        content we provide for free. But don't worry, 
        our ads are relevant, stylish and unobtrusive. 
      </td> 
    </tr>
    <tr>
      <td>
        <a href="/oo?demo=<%= demo %>">Stop Seeing Ads</a>
      </td>
    </tr>
  </table>
</information>
<footer class="footer-show" onclick="showInformation()">
  Why am I seeing this advertisement?
</footer>
<footer class="footer-hide" onclick="hideInformation()">
  Close information dialogue
</footer>
<% creative.trackers.forEach(function(tracker) { %>
  <img src="/<%= new Buffer(tracker).toString("base64") %>?no-dl" width="0" height="0" style="display:none" />
<% }) %>
<style>
  footer {
    color: black;
    float: right;
    font-size: 11px;
    margin-top: 8px;
    color: #555555;
    cursor: pointer;
  }
  
  footer:hover {
    text-decoration: underline;
  }
  
  footer.footer-hide {
    display: none;
  }
  
  information {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25px;
    background: white;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: none;
    background: #fbfbfb;
    color: #6a6a6a;
    z-index: 100;
  }
  
  information a {
    width: 150px;
    margin: 10px auto 0;
    border: solid 1px rgba(0,0,0,0.05);
    text-align: center;
    padding: 10px 0;
    display: block;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    border-radius: 3px;
  }
  
  information table {
    background: transparent;
    height: 100%;
  }
  
  information table td {
    vertical-align: middle;
  }
  
  information a:hover {
    text-decoration: none;
    background: #FF0000;
    color: white;
  }
</style>
<script>
  function showInformation() {
    document.getElementsByTagName("information")[0].style.display = "block";
    document.getElementsByClassName("footer-show")[0].style.display = "none";
    document.getElementsByClassName("footer-hide")[0].style.display = "block";
  }
  
  function hideInformation() {
    document.getElementsByTagName("information")[0].style.display = "none";
    document.getElementsByClassName("footer-show")[0].style.display = "block";
    document.getElementsByClassName("footer-hide")[0].style.display = "none";
  }
</script>