<% width = Math.max(300, Math.min(400, width)); height = Math.max(300, Math.min(400, height)); %>
<html>
  <head>
    <style>
      html, body {
        background: transparent;
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-family: "Arial";
      }
      
      .container {
        position: relative;
        width: 100%;
        height: <%- height - 25 %>px;
        color: black;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        overflow: hidden;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        background-image: url("/public/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        padding: 20px 20px;
        box-sizing: border-box;
        cursor: pointer;
        border: solid 1px black;
      }
      
      h1 {
        font-size: 2.25em;
        color: white;
        margin: 0 0 10px 0;
        text-shadow: 1px 2px 0 rgba(0,0,0,0.2);
        font-weight: bold;
      }
      
      h2 {
        font-size: 1.1em;
        color: #32325D;
        margin: 0;
        text-shadow: 0 1px 0 rgba(255,255,255,0.1);
        font-weight: lighter;
      }
      
      .button {
        width: 180px;
        margin: 45px auto 0;
        display: block;
        text-transform: uppercase;
        background: white;
        border-radius: 4px;
        color: white;
        text-align: center;
        padding: 15px 0;
        white-space: nowrap;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.3);
        border-radius: 4px;
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: .025em;
        color: #00ade6;
        text-decoration: none;
        transition: all .25s ease;
      }
      
      .button:hover {
        transform: scale(1.1);
      }
      
      .hint {
        text-align: center;
        width: 100%;
        font-weight: lighter;
        margin-top: 8px;
        font-size: 0.9em;
        color: #32325D;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.125);
        opacity: 0.75;
      }
    </style>
  </head>
  <body class="<%= mobile ? "mobile" : "" %>">
    <div class="container" onclick="startVideo()">
      <h1>Tired of ads?</h1>
      <h2>Watch a brief video from a sponsor for 1 week of no ads!</h2>
      <div class="button">Go Ad Free!</div>
      <div class="hint">video less than 1 minute</div>
    </div>
    <% include ./footer %>
  </body>
  <script>
    function startVideo() {
      window.parent.window.postMessage({
        name: "fullscreen.show",
        url: "/<%- creative.video_link(publisher.id, creative.industry_id, is_protected, demo) %>"
      }, "*");
    }
  </script>
</html>