<% include ../includes/start %>
<div class="fixed-side-nav">
  <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <a href="mailto:<%= support_email %>">Contact Us</a>
</div>
<div class="container">
  <% include ../includes/logo %>
  <form class="form" method="POST" action="/login">
    <% include ../includes/csrf %>
    <input class="email top" type="email" name="email" placeholder="Email address" required/>
    <input class="password bottom" type="password" name="password" placeholder="Password" required/>
    <button class="button" type="submit">Sign In</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/end %>