<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container">
  <form class="form" method="POST" action="/register">
    <% include ../includes/csrf %>
    <div>
      <input class="top" type="text" name="name" value="<%= name %>" placeholder="Name" required/>
      <input type="email" name="email" value="<%= email %>" placeholder="Email address" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="tel" name="phone" placeholder="Phone number (optional, for support)"/>
      <div class="group">
        <div class="fa fa-sort"></div>
        <select class="input bottom" name="type" required>
          <option disabled="true" selected>I am a...</option>
          <option value="all">Publisher & Advertiser</option>
          <option value="supply">Publisher</option>
          <option value="demand">Advertiser</option>
        </select>
      </div>
    </div>
    <div class="checkbox-group">
      <input id="terms-checkbox" type="checkbox" required/>
      <label for="terms-checkbox">
        I agree to the <a target="_blank" href="/legal/terms">Terms of Service</a> 
        and <a target="_blank" href="/legal/privacy">Privacy Policy</a>.
      </label>
    </div>
    <button class="button" type="submit">Sign Up</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>