<% include ../includes/start %>
<% include ../includes/header %>
<div class="container">
  <% include ../includes/logo %>
  <form class="form" method="POST" action="/register">
    <% include ../includes/csrf %>
    <input class="top" type="text" name="name" placeholder="Name" required/>
    <input type="email" name="email" placeholder="Email address" required/>
    <input type="password" name="password" placeholder="Password" required/>
    <input class="bottom" type="password" name="confirm_password" placeholder="Confirm Password" required/>
    <button class="button" type="submit">Sign Up</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/end %>