<h2>Setup Guide</h2>
<span>
  The goal of this guide is to ease the process of installing Miza in your website.
  Please note that the guide is a work in progress and subject to change. We will reach
  out if any changes are required on your end after the setup is complete. 
</span>
<h3>1) Add DNS CNAME</h3>
<p>
  Please add this CNAME record to your websites DNS. This will enable traffic to be
  routed to Miza though your domain name which will increase the defensibility
  of ads being delivered on your website. Feel free to <a href="mailto:<%= support_email %>">contact us</a> 
  if you don't know how, our team can walk you through it over the phone.
</p>
<pre><code><%= publisher.endpoint %>.	  300	IN	CNAME	<%= hostname %>.</code></pre>

<h3>2) Select an Ad Network</h3>
<div class="networks">
  <div class="network left active" data-guide="dfp">
    <div class="image" style="background-image: url(/imgs/networks/dfp.png)"></div>
    <div class="name">Double Click</div>
  </div>
  <div class="network left" data-guide="adsense">
    <div class="image" style="background-image: url(/imgs/networks/sense.png)"></div>
    <div class="name">AdSense</div>
  </div>
  <div class="network left disabled" data-guide="carbon">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/networks/rail.png)"></div>
    <div class="name">Carbon</div>
  </div>
  <div class="network left disabled" data-guide="adroll">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/networks/roll.png)"></div>
    <div class="name">Ad Roll</div>
  </div>
</div>
<% include ./dfp %>
<% include ./adsense %>