<h2>Setup Guide</h2>
<span>
  The goal of this guide is to ease the process of installing Sledge in your website.
  Please note that the guide is a work in progress and subject to change. We will reach
  out if any changes are required on your end after the setup is complete. 
</span>
<h3>1) Add DNS CNAME</h3>
<p>
  Please add this CNAME record to your websites DNS. This will enable traffic to be
  routed to Sledge though your domain name which will increase the defensibility
  of ads being delivered on your website. Feel free to <a href="mailto:<%= support_email %>">contact us</a> 
  if you don't know how, our team can walk you through it over the phone.
</p>
<pre><code><%= publisher.key || "<SLEDGE KEY>" %>.<%= publisher.domain %>.	  300	IN	CNAME	<%= host %>.</code></pre>

<h3>2) Select an Ad Publisher</h3>
<div class="publishers">
  <div class="publisher left active" data-guide="doubleclick">
    <div class="image" style="background-image: url(/imgs/ZGZw.png)"></div>
    <div class="name">Double Click</div>
  </div>
  <div class="publisher left disabled" data-guide="liverail">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/bGl2ZXJhaWw=.png)"></div>
    <div class="name">Live Rail</div>
  </div>
  <div class="publisher left disabled" data-guide="carbon">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/Y2FyYm9u.png)"></div>
    <div class="name">Carbon</div>
  </div>
  <div class="publisher left disabled" data-guide="adroll">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/YWRyb2xs.png)"></div>
    <div class="name">Ad Roll</div>
  </div>
</div>
<% include ./doubleclick %>