<div class="miza_guide">
  <div class="guide_steps">
    <div class="guide_step">
      <img src="/imgs/guide/install.png"/>
      <div class="title">1. Install <%= company %> Script</div>
      <div class="description">
        Paste our script into your website before any other
        ad code.
      </div>
    </div>
    <div class="guide_step">
      <img src="/imgs/guide/appear.png"/>
      <div class="title">2. Protected Ads Appear</div>
      <div class="description">
        We'll detect when a user has Ad Block activated
        and protect those ads.
      </div>
    </div>
    <div class="guide_step">
      <img src="/imgs/guide/billing.png"/>
      <div class="title">3. Increase Revenue</div>
      <div class="description">
        We make money when you do, by taking a cut of 
        only the revenue we protected.
      </div>
    </div>
    <button class="completed">Get Started</button>
  </div>
</div>