<% include ../includes/start %>
<div class="fixed-side-nav">
  <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <a href="/logout">Sign Out</a>
</div>
<div class="container">
  <% include ../includes/logo %>
  <form class="form" method="POST" action="/dashboard/new">
    <% include ../includes/csrf %>
    <input class="name top" type="text" name="publisher_name" placeholder="Publisher Name" required/>
    <input class="email bottom" type="website" name="publisher_domain" placeholder="http://publisher.com" required/>
    <button class="button" type="submit">Create Publisher Account</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/end %>