<% if(publisher.owner.paypal == null && !publisher.is_demo) { %>
<div class="warning orange">
  <% if(user.id == publisher.owner.id) { %>
    At the beginning of the next month you will receive
    a<br>payout for the ad revenue generated. 
    <a href="/account">Add PayPal Email</a>
  <% } else { %>
    Please ask the account owner to add their payout information. 
    <a href="mailto:<%= publisher.owner.email %>">Email <%= publisher.owner.name %></a>
  <% } %>
</div>
<% } %>