<h2>Setup Guide</h2>
<span>
  The goal of this guide is to ease the process of installing Sledge in your website.
  Please note that the guide is a work in progress and is subject to change/improvements. 
</span>
<h3>Step 1) Select Ad Publisher</h3>
<div class="publishers">
  <div class="publisher left active">
    <div class="image" style="background-image: url(/imgs/ZGZw.png)"></div>
    <div class="name">Double Click</div>
  </div>
  <div class="publisher left disabled">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/bGl2ZXJhaWw=.png)"></div>
    <div class="name">Live Rail</div>
  </div>
  <div class="publisher left disabled">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/Y2FyYm9u.png)"></div>
    <div class="name">Carbon</div>
  </div>
  <div class="publisher left disabled">
    <div class="soon">coming soon</div>
    <div class="image" style="background-image: url(/imgs/YWRyb2xs.png)"></div>
    <div class="name">Ad Roll</div>
  </div>
</div>