<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <% include ../includes/logo %>
  <div class="list">
    <a href="/admin/access">
      <div class="fa fa-users"></div>
      <div class="name">Grant Access</div>
    </a>
    <a href="/admin/industries">
      <div class="fa fa-balance-scale"></div>
      <div class="name">Industries</div>
    </a>
  </div>
</div>
<% include ../includes/end %>