<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large">
  <div class="list">
    <a href="/admin/publishers">
      <div class="fa fa-building-o"></div>
      <div class="name">Publishers</div>
    </a>
    <a href="/admin/industries">
      <div class="fa fa-balance-scale"></div>
      <div class="name">Industries</div>
    </a>
    <a href="/admin/users">
      <div class="fa fa-users"></div>
      <div class="name">Users</div>
    </a>
    <a href="/admin/invites">
      <div class="fa fa-user-plus"></div>
      <div class="name">Invite Users</div>
    </a>
    <br>
    <a href="/admin/payouts">
      <div class="fa fa-money"></div>
      <div class="name">Payouts</div>
    </a>
    <a href="/admin/scheduler">
      <div class="fa fa-server"></div>
      <div class="name">Job Scheduler</div>
    </a>
    <a href="/admin/emails">
      <div class="fa fa-envelope"></div>
      <div class="name">Email Templates</div>
    </a>
  </div>
</div>
<% include ../includes/end %>