<% include ../includes/start %>
<div class="scheduler">
  <% include ../includes/navigation %>
  <iframe src="/admin/vendor/scheduler" class="scheduler-iframe"></iframe>
</div>
<% include ../includes/end %>