<div class="display full builder">
  <% include ./includes/form_start %>
  <% include ./includes/creative_image %>
  <% include ./includes/form_campaign %> 
  <% include ./includes/form_budget %> 
  <% include ./includes/targeting_social %>
  <% include ./includes/finish_standard %>
  <% include ./includes/form_end %>
</div>