<div class="display full builder">
  <form method="POST" action="<%= path %>">
    <div class="section">
      <table>
        <tr>
          <td class="title">Campaign Name</td>
          <td><input class="top" type="text" name="name" placeholder="Campaign Name" required/></td>
        </tr>
        <tr>
          <td class="title">Daily Budget</td>
          <td>
            <div class="group left-align">
              <div class="fa fa-dollar"></div>
              <input class="top" type="number" name="daily_budget" placeholder="5" required/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="title">Start Date</td>
          <td><input class="top range-display" type="text" name="start_date" placeholder="MM-DD-YYYY" required/></td>
        </tr>
        <tr>
          <td class="title">End Date</td>
          <td><input class="top range-display" type="text" name="end_date" placeholder="MM-DD-YYYY" required/></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <div class="header">Pricing Model</div>
      <div class="selection">
        <div class="option active" data-value="cpm">
          <div class="fa fa-globe"></div>
          <div class="name">CPM</div>
        </div>
        <div class="option" data-value="CPC">
          <div class="fa fa-mouse-pointer"></div>
          <div class="name">CPC</div>
        </div>
        <input name="campaign_type" type="hidden" value="cpm"/>
      </div>
    </div>
    <div class="section">
      <div class="header">Targeting</div>
      <div class="selection">
        <div class="option active" data-value="cpm">
          <div class="fa fa-globe"></div>
          <div class="name">CPM</div>
        </div>
        <div class="option" data-value="CPC">
          <div class="fa fa-mouse-pointer"></div>
          <div class="name">CPC</div>
        </div>
        <input name="campaign_type" type="hidden" value="cpm"/>
      </div>
    </div>
  </form>
</div>