<div class="display full builder">
  <form method="POST" action="<%= path %>">
    <div class="section">
      <table>
        <tr>
          <td class="title">Campaign Name</td>
          <td><input class="top" type="text" name="name" placeholder="Campaign Name" required/></td>
        </tr>
<!--
        <tr>
          <td class="title">Daily Budget</td>
          <td>
            <div class="group left-align">
              <div class="fa fa-dollar"></div>
              <input class="top" type="number" name="daily_budget" placeholder="5" required/>
            </div>
          </td>
        </tr>
-->
        <tr>
          <td class="title">Start Date</td>
          <td><input class="top range-display" type="text" name="start_date" placeholder="MM-DD-YYYY" required/></td>
        </tr>
        <tr>
          <td class="title">End Date</td>
          <td><input class="top range-display" type="text" name="end_date" placeholder="MM-DD-YYYY (OPTIONAL)"/></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <div class="header">
        Select Audience <span>(<span class="selection-shortcut" data-for="audience">select all</span>)</span>
      </div>
      <div id="audience" class="selection" data-select="multi">
        <div class="option" data-value="1">
          <div class="metric">
            $5 <span>CPM</span>
          </div>
          <div class="name">Technology</div>
        </div>
        <div class="option" data-value="3">
          <div class="metric">
            $3.5 <span>CPM</span>
          </div>
          <div class="name">Politics</div>
        </div>
        <div class="option" data-value="4">
          <div class="metric">
            $4 <span>CPM</span>
          </div>
          <div class="name">News Agg.</div>
        </div>
        <div class="option" data-value="5">
          <div class="metric">
            $2 <span>CPM</span>
          </div>
          <div class="name">Blogs</div>
        </div>
        <input name="campaign_types" type="hidden" value="cpm"/>
      </div>
    </div>
    <div class="section">
      <% include ../../../includes/csrf %>
      <button type="submit" class="button">
        Create Campaign <span class="fa fa-arrow-right"></span>
      </button>
      <div class="error"></div>
    </div>
  </form>
</div>