<div class="display full builder">
  <form class="section no-bottom" method="POST" action="<%= pathname %>/scrape" data-callback="campaign_scrape">
    <% include ../../../includes/csrf %>
    <input type="hidden" name="format" value="<%= format %>" />   
    <div class="header">Instagram Post</div>
    <table class="top-table">
      <tr>
        <td>
          <div class="group left-align date-input" style="width: 100%">
            <div class="fa fa-globe"></div>
            <input class="scrape-url" type="website" name="scrape_url" placeholder="https://www.instagram.com/p/BSIBC7rAeO_/?taken-by=nike" required/>
          </div>
        </td>
        <td>
          <button type="submit" class="button scrape-button" data-waiting="<span class='fa fa-spin fa-spinner'></span>">
            <span class="fa fa-search"></span>
          </button>
        </td>
      </tr>
    </table>
    <div class="error"></div>
  </form>
  <div class="section image-list hidden">
    <div class="side-note">Select up to 4 images</div>
    <div class="list"></div>
  </div>
</div>

<% include ./includes/form_social %>