<% include ../includes/start %>
<% include ../includes/header %>
<div class="container">
  <% include ../includes/logo %>
  <form class="form" method="POST" action="/account">
    <% include ../includes/csrf %>
    <input class="top" type="text" name="name" placeholder="Name" value="<%= user.name %>" required/>
    <input type="email" name="email" placeholder="Email address" value="<%= user.email %>" required/>
    <div class="group">
      <a href="/account/password">Change</a>
      <input type="password" name="password" placeholder="Password" required/>
    </div>
    <div class="group">
      <a href="/account/card"><%= user.stripe_card ? "Change" : "Add Card" %></a>
      <input class="bottom" type="text" placeholder="Card's Last 4" disabled
        value="<%= user.stripe_card ? (user.stripe_card.brand + " " + user.stripe_card.last4) : "" %>" />
    </div>
    <button class="button" type="submit">Update Profile</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>