<% include ../includes/start %>
<% include ../includes/header %>
<div class="container">
  <% include ../includes/logo %>
  <form class="form" method="POST" action="/account/password">
    <% include ../includes/csrf %>
    <input class="top" type="password" name="old_password" placeholder="Old Password" required/>
    <input type="password" name="new_password" placeholder="New Password" required/>
    <input class="bottom" type="password" name="confirm_password" placeholder="Confirm Password" required/>
    <button class="button" type="submit">Update Password</button>
    <div class="error"></div>
  </form>
</div>

<% include ../includes/end %>