@import '../libs/all';
@import '../global/colors';

.hero.commerce {
  background: white;
  min-height: 600px;
  
  header {
    h1 {
      color: #EB1478;
      text-shadow: none;
    }
    
    h2 {
      color: black;
      
      span {
        color: @text;
        text-shadow: none;
      }
    }
  }
  
  .actionable {
    padding: 0;
    background: none;
    .box-shadow(none);
    
    .form {
      input {
        margin-bottom: 8px;
        border-width: 1px;
        border-color: lighten(#232F3B, 60%);  
        .border-radius(3px);
      }
      
      button {
        background: #EB1478;
        border-bottom: solid 2px rgba(0,0,0,0.1);
        .border-radius(3px);
      }
      
      .error {
        margin-top: 10px;
        text-align: center;
        color: @red;
        text-transform: capitalize;
        font-size: 1.2em;
      }
    }
  }
  
  .examples {
    iframe {
      height: 450px;
      
      &:first-child {
        top: 20px;
        left: -40px;
        z-index: 1;
        .transform(scale(1.125));
      }
      
      &:last-child {
        top: 125px;
        right: 0px;
        z-index: 2;
        .transform(scale(1.125));
      }
    }
  }
}