@import '../compless/all';
@import '../global/colors';

.container {
  margin: 0 auto;
  .clearfix();
}

.hero {
  width: 100%;
  
  .container {
    padding: 30px 0;
  }
    
  .hero-image {
    width: 48%;
    
    img {
      width: 100%;
    }
  }
  
  .hero-information {
    width: 52%;
    padding: 8% 100px 0 50px;
    
    h1.logo {
      font-size: 4.5em;
    }
    
    h2 {
      font-size: 2em;
      margin: 0.25em 0;
      font-weight: normal;
      color: @text_strong;
    }
    
    p {
      color: @text;
      font-size: 1.3em;
      margin: 2em 0;
      line-height: 1.5em;
      font-weight: lighter;
    }
    
    .actionable {  
      position: relative;
      height: 52px;
            
      .form {
        width: 70%;
        height: 100%;
        position: relative;
        display: inline-block;
        
        input {
          position: absolute;
          top: 0;
          width: 70%;
          height: 52px;
          .border-radius(5px 0 0 5px);
        }
        
        button {
          position: absolute;
          top: 0;
          right: 1px;
          width: 30%;
          .border-radius(0 5px 5px 0); 
        }
      }
      
      .login {
        position: absolute;
        width: 30%;
        top: 0;
        right: 0;
        height: 100%;
        
        span {
          margin: 10px 0;
          display: inline-block;
          color: #687684;
          font-size: 1.25em;
          width: 30%;
          text-align: center;
        }
        
        a {
          width: 67%;
          margin: 0;
          display: inline-block;
          
          .button {
            width: 100%;
            position: relative;
            color: @blue;
            border: solid 1px @blue;
            background: transparent;
            
            &:hover {
              background: lighten(@blue, 40%);
            }
          }
        }
      }
      
    }
  }
}