@import '../libs/all';
@import '../global/colors';

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.super-wrap {
  width: 100%;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 650px;
  background: #5f357d;
  background: -webkit-radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%);
  background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%);
  overflow: hidden;
  .box-shadow(inset 0 -1px 0 rgba(0,0,0,0.07));

  &:before {
    content: "";
    background-image: url("/imgs/landing.png");
    background-repeat: repeat;
    background-position: center center;
    user-select: none;
    background-size: 160px;
    margin: 0 auto;
    width: 120%;
    height: 120%;
    position: absolute;
    bottom: -50%;
    right:  -50%;
    transform: rotate(45deg);
    opacity: 0.8;
  }
  
  &.monetize {
    overflow: visible;
    height: 600px;
    margin-bottom: 50px;
    background: #24C6DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    
    &:before {
      opacity: 0.5;
      bottom: 0;
      right:  0;
      transform: none;
    } 
    
    .bg-footer {
      position: absolute;
      bottom: -65px;
      left: -100px;
      right: -100px;
      height: 150px;
      background: white;
      transform: rotate(-2.5deg);
      .box-shadow(0 -1px 0 0 rgba(0,0,0,0.25));
    }
    
    .brief {
      text-align: center;
      font-weight: lighter;
      margin: 10px auto 35px;
      width: 80%;
      font-family: "Ubuntu";
      
      h2 {
        font-size: 2.5em;
        color: white;
        margin: 0 0 10px 0;
        font-weight: lighter;
      }
      
      h3 {
        font-size: 2.5em;
        margin: 0;
        color: black;
        font-weight: lighter;
        
      }
    }
    
    .modal {
      position: relative;
      z-index: 1;
      width: 550px;
      background: white;
      height: 500px;
      margin: 0 auto;
      overflow: hidden;
      .border-radius(4px);
      .box-shadow(0 5px 15px 0 rgba(0,0,0,0.08));
      
      .title {
        color: @blue;
        text-align: center;
        font-weight: lighter;
        padding: 30px 0 25px;
        font-size: 1.5em;
        font-family: "Ubuntu";
        border-bottom: solid 1px rgba(0,0,0,0.05);
      }
      
      .payout {
        text-align: center;
        color: black;
        font-size: 3.5em;
        padding-top: 30px;
        font-weight: lighter;
      }
      
      .subpayout {
        text-align: center;
        color: @text_weak;
        font-size: 1.5em;
      }
      
      .bennefits {
        width: 280px;
        margin: 40px auto;
        
        .bennefit {
          margin: 20px 0;
          
          span {
            display: inline-block;
            background: lighten(@blue, 10%);
            padding: 5px;
            color: white;
            font-size: 1em;
            margin-right: 10px;
            .border-radius(50%);
          }
          
          div {
            display: inline-block;
            font-size: 1.3em;
            color: #8B9BAD;
          }
        }
      }
      
      a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #F6F9FC;
        padding: 25px 0;
        font-size: 1.5em;
        color: #32325D;
        border-top: solid 1px rgba(0,0,0,0.02);
        
        span {
          margin-left: 10px;
        }
        
        &:hover {
          background: darken(#F6F9FC, 3%);
        }
      }
    }

  }
  
  &.about {
    overflow: visible;
    background: white;
    .box-shadow(none);
    
    &:before {
      background: none;
      top: 0;
      bottom: 0;
      left:  -100px;
      right:  -100px;
      transform: none;
      opacity: 1;
      .box-shadow(inset 0 100px 180px white);
    }
    
    .brief {
      text-align: center;
      font-weight: lighter;
      margin: 10px auto 50px;
      width: 80%;
      
      h2 {
        font-size: 2.5em;
        color: black;
        margin: 0 0 10px 0;
        font-weight: lighter;
        font-family: "Ubuntu";
      }
      
      p {
        font-size: 1.5em;
        margin: 0;
        color: #8B9BAD;
      }
    }
    
    .founders-image {
      width: 100%;
      height: 400px;
      background: url("/imgs/founders.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
    }
    
    .founders {
      position: relative;
      z-index: 1;
      padding-top: 20px;
      height: 110px;
      text-align: center;
      background: black;
      text-align: center;
      
      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: -115px;
        width: 100%;
        height: 115px;
        left: 0;
        right: 0;
        background: url("/imgs/landmarks.png");
        background-repeat: repeat-x;
        background-position: center top;
        background-size: 1280px;
      }
      
      .founder {
        display: inline-block;
        margin: 0 150px;
        font-size: 1.25em;
        
        .name {
          color: white;
          font-weight: bold;
        }
        
        .title {
          font-weight: lighter;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    
    .navigation {            
      .logo {
        color: @blue;
        text-shadow: none;
      }
      
      .left .shortcuts a {
        color: #536170;
        text-shadow: none;
      }
      
      .fixed-side-nav { 
        a {
          background: @blue;
          color: white;
          
          &:not(.inverse):hover {
            color: white;
            background: @blue;
          }
          
          &.inverse {
            background: transparent;
            color: @blue;
            text-shadow: none;
            
            &:hover {
              text-decoration: underline;
              .box-shadow(none);
            }
          }
        }
      }
    }
  }

  .navigation {  
    padding: 20px 0 80px;
    
    .left .shortcuts { 
      display: inline-block;
      margin: -10px 0 0 30px;
    
      a {
        display: inline-block;
        padding: 8px 17px;
        text-align: center;
        min-width: 90px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
      
    .fixed-side-nav { 
      position: relative;
      top: 5px;
      
      a {
        background: white;
        color: @blue;
        cursor: pointer;
        min-width: 80px;
        font-size: 1.2em;
        .transition();
        
        &:hover {
          background: white;
          color: @blue;
          .box-shadow(0 5px 8px 0 rgba(0,0,0,0.2));
        }
        
        &.inverse {
          background: transparent;
          color: rgba(255, 255, 255, 0.8);
          font-weight: bold;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          
          &:hover {
            text-decoration: underline;
            .box-shadow(none);
          }
        }
      }
    }
    
    .logo {
      color: white;
      text-shadow: 0 3px 0 rgba(0,0,0,0.5);
      
      sup {
        color: rgba(255,255,255,0.5);
      }
    }
  }
  
  header {
    width: 55%;
    float: right;
    
    h1 {
      font-family: "Ubuntu";
      font-weight: bold;
      font-size: 4em;
      color: white;
      text-shadow: 0 2px 0 rgba(0,0,0,0.15);
      margin-bottom: 10px;
    }
    
    h2 {
      color: rgba(0,0,0,0.5);
      font-size: 1.8em;
      font-weight: bold;
      
      span {
        color: white;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
        font-weight: bold;
      }
    }
    
    .actionable {  
      position: relative;
      margin-top: 35px;
      padding: 5px 5px 7px 5px;
      background: rgba(0,0,0,0.5);
      .box-shadow(~"inset 0 -1px 2px rgba(14,41,57,0.15), inset 0 1px 2px rgba(14,41,57,0.15), 0 0 20px 4px rgba(0,0,0,0.15)");
      .border-radius(6px);
            
      .form {
        width: 100%;
        display: block;
        
        input {
          width: 71%;
          height: 60px;
          font-size: 1.5em;
          float: left;
          font-weight: normal;
          margin-bottom: 5px;
          border-color: rgba(0,0,0,0.7);
          .border-radius(4px);
          
          &.last {
            margin-bottom: 0;
          }
          
          &.top-long {
            width: 56%;
            float: left;
          }
          
          &.top-short {
            width: 43%;
            float: right;
          }
        }
        
        button {
          width: 28%;
          height: 60px;
          float: right;
          border: none;
          font-weight: bold;
          .border-radius(4px); 
        }
      }
    }
  }
  
  .graphic {
    position: absolute;
    top: 120px;
    right: 60%;
    width: 100%;
    height: 600px;
    float: left; 
    background: rgba(0,0,0,0.4);
    border: solid 4px rgba(0,0,0,0.1);
    .border-radius(10px); 
    overflow: hidden;
    
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: url("/imgs/example.jpg");
      background-position: right top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}