@import '../libs/all';
@import '../global/colors';

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.super-wrap {
  width: 100%;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 650px;
  background: #5f357d;
  background: -webkit-radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%);
  background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%);
  overflow: hidden;
  .box-shadow(inset 0 -1px 0 rgba(0,0,0,0.07));

  &:before {
    content: "";
    background-image: url("/imgs/landing.png");
    background-repeat: repeat;
    background-position: center center;
    user-select: none;
    background-size: 160px;
    margin: 0 auto;
    width: 120%;
    height: 120%;
    position: absolute;
    bottom: -50%;
    right:  -50%;
    transform: rotate(45deg);
    opacity: 0.8;
  }

  .nav-button {
    display: none;
    margin-top: 5px;
    height: 22px;
    width: 25px;
    color: white;
  }

  &.dark-navigation {
    .box-shadow(inset 0 -1px 0 rgba(0,0,0,0.025));

    &:before {
      opacity: 0.4;
      background-image: url("/imgs/landing-dark.png");
    }

    .actionable {
      padding: 0;
      background: none;
      .box-shadow(none);

      .form {
        input {
          margin-bottom: 8px;
          border-width: 1px;
          border-color: lighten(#232F3B, 60%);
          .border-radius(3px);
        }

        button {
          font-size: 1.25em;
          background: @blue;
          border-bottom: solid 2px rgba(0,0,0,0.1);
          .border-radius(3px);

          &.green {
            background: #1FC662;
          }

          &.red {
            background: #E6525A;
          }

          &.purple {
            background: #6A4CA6;
          }

          &.orange {
            background: #F26223;
          }
        }

        .error {
          margin-top: 10px;
          text-align: center;
          color: @red;
          text-transform: capitalize;
          font-size: 1.2em;
        }
      }
    }

    header {
      h1 {
        color: @blue;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
      }

      h2 {
        color: black;

        span {
          color: @text;
          text-shadow: none;
        }
      }
    }

    .navigation {
      .logo {
        color: @blue;
        text-shadow: none;
      }

      .navigation-modal {
        background: #232F3B;
        color: white;
        border: solid 2px rgba(0,0,0,0.2);
        width: 584px;

        .arrow {
          color: #232F3B;
        }

        .item:hover {
          .fa, .name {
            color: white !important;
          }
        }
      }

      .left .shortcuts a,
      .left .shortcuts div {
        color: #536170;
        text-shadow: none;
      }

      .fixed-side-nav {
        a {
          background: @blue;
          color: white;

          &:not(.inverse):hover {
            color: white;
            background: @blue;
          }

          &.inverse {
            background: transparent;
            color: @blue;
            text-shadow: none;

            &:hover {
              text-decoration: underline;
              .box-shadow(none);
            }
          }
        }
      }
    }
  }

  .navigation {
    padding: 20px 0 80px;

    .navigation-menu {
      z-index: 5;
      position: absolute;
      left: -5px;
      top: 25px;
      background: white;
      display: none;
      width: 103%;
      border-radius: 4px;
      box-shadow: 0 50px 100px rgba(50,50,93,.1),
                  0 15px 35px rgba(50,50,93,.15),
                  0 5px 15px rgba(0,0,0,.1);
      // box-shadow: 0 0px 25px 5px rgba(50,50,93,.15);
      line-height: 40px;

      .mobile-sign-in {
        padding: 12px 30px;
        background: #f6f9fc;
        font-weight: bold;
        width: 100%;
        display: block;
        border-radius: 4px;
      }

      .close-navigation-menu {
        position: absolute;
        right: 5px;
        top: 7px;
        width: 29px;
        font-size: 22px;
        font-weight: 600;
      }

      .advertiser {
        padding: 20px 0 15px;
      }

      .publisher {
        border-top: 2px solid #f6f9fc;
      }

      .publisher-list {
          ul {
            width: 100%;
          }
      }

      .advertiser-list, .publisher-list {
        display: flex;

        ul {
          flex-grow: 1;
        }

        a {
          padding: 0 16px 5px 25px;
          font-size: 20px;
          font-weight: bold;
          line-height: 50px;
          display: block;
          width: 100%;
          span {
            display: inline-block;
            width: 26px;
            height: 26px;
            margin: 0 15px 0 -3px;
          }
          .name {
            display: inline;
          }
        }
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .025em;
        text-transform: uppercase;
        margin: 0 0 0 15px;
      }

      .item {
        display: inline-block;
        float: left;
        .clearfix();
        &.blue {
          .fa, .name {
            color: @blue;
          }
        }

        &.green {
          .fa, .name {
            color: @green;
          }
        }

        &.red {
          .fa, .name {
            color: #E6525A;
          }
        }

        &.purple {
          .fa, .name {
            color: #e243f3;
          }
        }

        &.orange {
          .fa, .name {
            color: #FF8825;
          }
        }

        .fa {
          &.kickstarter {
            font-family: "Ubuntu";
            font-weight: bolder;
          }
        }

        .info {
          float: right;
          width: 200px;

          .name {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 4px;
            text-transform: uppercase;
          }

          .desc {
            color: #6b7c93;
            font-size: 1.1em;
          }
        }
      }
    }

    .navigation-modal {
      z-index: 5;
      position: absolute;
      background: white;
      width: 580px;
      padding: 10px 0;
      top: 75px;
      left: 0;
      display: none;
      .border-radius(4px);
      .box-shadow(0 5px 15px 0 rgba(0,0,0,0.4));

      .arrow {
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -12px;
        font-size: 25px;
        color: white;
        width: 25px;
        text-align: center;
      }

      .item {
        display: inline-block;
        margin: 20px;
        width: 250px;
        float: left;
        .clearfix();

        &:hover {
          .fa, .name {
            color: #232F3B !important;
          }
        }

        &.blue {
          .fa, .name {
            color: @blue;
          }
        }

        &.green {
          .fa, .name {
            color: @green;
          }
        }

        &.red {
          .fa, .name {
            color: #E6525A;
          }
        }

        &.purple {
          .fa, .name {
            color: #e243f3;
          }
        }

        &.orange {
          .fa, .name {
            color: #FF8825;
          }
        }

        &.etsy {
          .fa, .name {
            color: #F26223;
          }
        }

        .fa {
          display: inline-block;
          width: 30px;
          text-align: right;
          float: left;
          font-size: 2em;
          margin-top: 5px;

          &.kickstarter {
            font-family: "Ubuntu";
            font-weight: bolder;
          }
        }

        .info {
          float: right;
          width: 200px;

          .name {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 4px;
            text-transform: uppercase;
          }

          .desc {
            color: #6b7c93;
            font-size: 1.1em;
          }
        }
      }
    }

    .left .shortcuts {
      display: inline-block;
      margin: -10px 0 0 30px;

      div, a {
        display: inline-block;
        margin: 8px 17px;
        text-align: center;
        min-width: 90px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.3em;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      }

      div {
        cursor: default;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .fixed-side-nav {
      position: relative;
      top: 5px;

      a {
        background: white;
        color: @blue;
        cursor: pointer;
        min-width: 80px;
        font-size: 1.3em;
        .transition();

        &:hover {
          background: white;
          color: @blue;
          .box-shadow(0 5px 8px 0 rgba(0,0,0,0.2));
        }

        &.inverse {
          background: transparent;
          color: rgba(255, 255, 255, 0.8);
          font-weight: bold;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

          &:hover {
            text-decoration: underline;
            .box-shadow(none);
          }
        }
      }
    }

    .logo {
      color: white;
      text-shadow: 0 3px 0 rgba(0,0,0,0.5);

      sup {
        color: rgba(255,255,255,0.5);
      }
    }
  }

  .examples {
    width: 38%;
    float: left;
    position: relative;

    iframe {
      position: absolute;
      width: 300px;
      height: 350px;
      top: 40px;
      display: none;

      &:first-child {
        right: 0;
        z-index: 1;
        .transform(scale(1.2));
      }

      &:last-child {
        top: 125px;
        right: 150px;
        z-index: 2;
        .transform(scale(1.1));
      }

      &:only-child {
        width: 330px;
        height: 380px;
        top: 50px;
        right: inherit !important;
        left: 25px !important;
        z-index: 1;
      }
    }
  }

  header {
    width: 55%;
    float: right;

    h1 {
      font-family: "Ubuntu";
      font-weight: bold;
      font-size: 4em;
      color: white;
      text-shadow: 0 2px 0 rgba(0,0,0,0.15);
      margin-bottom: 10px;
    }

    h2 {
      color: rgba(0,0,0,0.5);
      font-size: 1.8em;
      font-weight: bold;

      span {
        color: white;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
        font-weight: bold;
      }
    }

    .login-buttons {
      margin-top: 35px;

      a {
        width: 48%;
        display: block;
        padding: 15px 0;
        box-sizing: border-box;
        font-size: 1.3em;
        text-align: center;
        font-weight: lighter;
        transition: ease-in-out transform 0.25s;
        border-bottom: solid 2px rgba(0,0,0,0.1);
        .border-radius(4px);

        &:hover {
          .transform(scale(1.05, 1.05));
        }

        .fa {
          margin-right: 10px;
          font-size: 1.3em;
          position: relative;
          top: 2px;
        }

        &.black {
          background: #232F3B;
          color: white;
        }

        &.blue {
          background: #1DA1F2;
          color: white;
        }

        &.orange {
          background: #FF8825;
          color: white;
        }

        &.red {
          background: #EB1478;
          color: white;
        }
      }
    }

    .actionable {
      position: relative;
      margin-top: 35px;
      padding: 5px 5px 7px 5px;
      background: rgba(0,0,0,0.5);
      .box-shadow(~"inset 0 -1px 2px rgba(14,41,57,0.15), inset 0 1px 2px rgba(14,41,57,0.15), 0 0 20px 4px rgba(0,0,0,0.15)");
      .border-radius(6px);

      .form {
        width: 100%;
        display: block;

        input {
          width: 71%;
          height: 60px;
          font-size: 1.5em;
          float: left;
          font-weight: normal;
          margin-bottom: 5px;
          border-color: rgba(0,0,0,0.7);
          .border-radius(4px);

          &.last {
            margin-bottom: 0;
          }

          &.top-long {
            width: 56%;
            float: left;
          }

          &.top-short {
            width: 43%;
            float: right;
          }

          &.top-half {
            width: 49.5%;
            float: right;
          }
        }

        button {
          width: 28%;
          height: 60px;
          float: right;
          border: none;
          font-weight: bold;
          .border-radius(4px);
        }
      }
    }
  }

  .graphic {
    position: absolute;
    top: 120px;
    right: 60%;
    width: 100%;
    height: 600px;
    float: left;
    background: rgba(0,0,0,0.4);
    border: solid 4px rgba(0,0,0,0.1);
    .border-radius(10px);
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: url("/imgs/example.jpg");
      background-position: right top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    min-width: 470px;
    width: 100%;
  }
  &.dark-navigation {
    .navigation {
      .right,
      .fa {
        color: #666666;
      }
    }
    .actionable
    .form {
      button {
        padding: 6px;
      }
    }
  }
  .hero {
    padding: 20px 60px;
    .navigation {
      .left {
        .shortcuts {
          display: none;
        }
      }
      .right {
        .nav-button {
          display: block;
        }
        .fixed-side-nav {
          display: none;
        }
      }
    }
    .examples {
      iframe:only-child {
        right: 0px !important;
        left:inherit !important;
        display: relative;
      }
    }
    .header {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.8em
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .container {
    min-width: 330px;
    width: 0;
  }
  .hero {
    padding: 0;
    .graphic {
      display: none;
    }
    .navigation {
      padding: 20px 0 60px;
      .left {
        .shortcuts {
          display: none;
        }
      }
      .right {
        .nav-button {
          display: block;
        }
        .fixed-side-nav {
          display: none;
        }
      }
    }
    .examples {
      display: none;
    }

    .header {
      width: 100%;
      position: relative;
      float: none;
      text-align: center;
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.3em;
      }
      .actionable {
        margin-bottom: 35px;
        .form {
          button,
          input.top-long,
          input.top-short,
          input.last {
            width: 100%;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
