@import '../libs/all';
@import '../global/colors';

.supports {
  background: #F9FAFB;
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid #E9EDF2;
  text-align: center;
  
  h2 {
    font-weight: lighter;
    margin: 0 0 70px 0;
    font-size: 2em;
    text-shadow: 0 -1px 0 white;
    
    span {
      color: @text_weak;
    }
  }
  
  .images {
    width: 100%;
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    
    img {
      height: 55px;
      display: inline-block;
      margin: 0 20px;
    }
  }
}


.product {
  padding-top: 100px;
  
  .ifelse {
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
    line-height: 2em;
    font-family: "Ubuntu";
    color: @text_weak;
    margin-bottom: 150px;
    
    span {
      line-height: 1.3em;
      font-weight: normal;
      display: inline-block;
      .border-radius(5px);
      
      &.blue {
        color: @blue;
      }
      
      &.red {
        padding: 0 15px;
        background: @red;
        color: white;
      }
      
      &.grey {
        color: @text;
      }
    }
  }
  
  .section {
    width: 1080px;
    margin: 100px auto;
    min-height: 300px;
    
    .information {
      width: 54%;
      font-weight: lighter;
      font-size: 1.8em;
      
      h3 {
        color: @blue;
        font-size: 1.25em;
        font-weight: bold;
        margin: 0;
        
        &.orange {
          color: @orange;
        }
        
        &.green {
          color: @green;
        }
        
        &.purple {
          color: @purple;
        }
        
        &.red {
          color: @red;
        }
      }
      
      p {
        margin: 15px 0;
        
        a {
          color: @blue;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    .graphic {
      width: 37.5%;
      height: 350px;
      margin-top: -60px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      
      &.ad-events {
        font-size: 1.1em;

        .event {
          position: relative;
          width: 100%;
          margin: 20px auto;
          padding: 15px;
          background: white;
          border: solid 1px rgba(0,0,0,0.08);
          .box-shadow(0 0 5px 0 rgba(0,0,0,0.1));
          .border-radius(4px);
          .clearfix();
          
          .browser {
            width: 60px;
            height: 60px;
            float: left;
          }
          
          .text {
            width: 290px;
            float: right;
            font-size: 1.2em;
            
            .name {
              font-weight: bold;
              margin-bottom: 2px;
              
              span {
                color: @green;
              }
            }
            
            .extras {
              color: rgba(0,0,0,0.4);
            }
          }
        }
      }
    }
  }
}