<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="atf-right-400x300" style="width: 400px; height: 300px;">
  <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7615498473137276"
     data-ad-slot="8135164346"
     data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>