@import '../compless/all';
@import '../global/colors';

.industries {
  padding: 100px 0;
  width: 900px;
  
  input {
    padding: 12px 11px 10px;
    margin: 0;
  } 
  
  td {
    padding: 5px 0 5px 5px;
  }
  
  td:first-child {
    width: 40%;
    padding-left: 0;
  }
  
  td:not(:first-child) {
    width: 20%;
  }
  
  button {
    margin-top: 10px;
  }
}