@import '../libs/all';
@import '../global/colors';

.payouts-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  display: none;
  
  .payouts.container {
    .title {
      font-size: 2em;
      margin: 50px 0 30px;
    }
    
    .button {
      font-size: 1.5em;
      opacity: 1;
      background: @green;
      width: 250px;
      
      &:hover {
        background: darken(@green, 5%);
      }
    }
    
    .metrics .core  .primary {
      color: @green;
    }      
  }
}

.payouts.container {
  width: 1150px;
  
}