@import '../compless/all';
@import '../global/colors';

.date-picker-wrapper {
  background: white;
  border: solid 2px #F3F3F3;
  margin-top: -8px;
  .box-shadow(30px 30px 20px white);
  .border-radius(0 5px 5px 5px);
  
  .shortcuts {
    a {
      margin: 0 2px;
    }
  }
  
  .month-wrapper {
    border: none;
  }
  
  &.no-topbar {
    padding-top: 0;
  }
  
  .footer {
    padding-top: 6px;
  }
  
  .date-range-length-tip {
    background: black;
    color: white;
    padding: 5px 8px;
    margin-top: -15px;
    margin-left: -10px;
    
    &:after {
      border-top-color: black;
    }
  }
}

.reports {
  padding: 100px 0;
  width: 1150px;
  margin: 0 auto;
  
  .metrics .metric {
    .owed-metric {
      color: @green;
    }
  }
  
  .range-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    min-width: 70px;
    border: solid 2px #F3F3F3;
    .border-radius(5px);
    
    .fa {
      margin-right: 8px;
      color: @text_weak;
    }
    
    &.open {
      border-bottom: 0;
      .border-radius(5px 5px 0 0);
    }
  }
   
  a {
    color: @blue;
    
    &:not(.fa):hover {
      text-decoration: underline;
    }
  }
  
  table {
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    border-spacing: 0;
    
    th {
      padding: 10px 8px;
      border-bottom: solid 1px #EDF1F5;
    }
    
    td {
      font-size: 0.95em;
      padding: 12px 8px;
      vertical-align: text-top;
      font-weight: lighter;
      text-transform: none !important;
    }
    
    td.red {
      color: @red;
    }
    
    td.green {
      color: @green;
    }
    
    tr.inactive {
      display: none;
    }
    
    tr:last-child td {
      border: none;
    }
  }
}
