<h3>Select an Ad Network</h3>
<div class="networks">
  <div class="network left active" data-guide="carbon">
    <div class="image" style="background-image: url(/imgs/networks/carbon.png)"></div>
    <div class="name">Carbon</div>
  </div>
</div>
<% include ./carbon %>